<div class="hero-unit">
    <h1>Git Changelog and Known Issues</h1>

</div>
<div class="bg-success" style="padding:15px">
    <ul>
        {% for issue in issue_list %}
            <li> <h4> <a href={{ issue.html_url }}>{{ issue.title }}</a>
                <small>
                    {% for label in issue.labels %}
                        [{{ label.name | capfirst }}]
                    {% empty %}
                        No labels!
                    {% endfor %}
                    - opened by <i><a href="https://github.com/{{ issue.user }}/">{{ issue.user }}</a></i>
                    on <i>{{ issue.created_at }}</i>
                </small>
            </h4>{{ issue.body_html | safe }}</li>
            <hr>
        {% endfor %}
    </ul>
</div>


