{% extends "lab/base.html" %}

{% block title %}Meta-Maize Queries{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Meta-Maize Queries<h1>
</div>
<div class="container-fluid">

  <h3>Query 01:</h3>
  <h5>Display tissue_type, row_id, pedigree, seed_source, microbe_type, culture_name, and notes for cultures which had a microbe type observed.</h5>

  <form id="query_1_form" method="post" action="/metamaize/download/query_01/">
    {% csrf_token %}
  <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 02:</h3>
  <h5>Display all wells and inventories for a given row_id, plant, and tissue_type.</h5>
  <h5>--- The wells, their inventories, and their notes are listed respectively. ---</h5>

  <form id="query_2_form" method="post" action="/metamaize/download/query_02/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 03:</h3>
  <h5>Display wells and inventories for a given row_id, plant, and tissue_type that are from 2012 and are of pedigree B73, B97, CML103, CML322, or Mo17.</h5>
  <h5>--- The wells, their inventories, and their notes are listed respectively. ---</h5>

  <form id="query_3_form" method="post" action="/metamaize/download/query_03/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 04:</h3>
  <h5>Display wells and inventories for a given row_id, plant, and tissue_type that are from 2013 and are of pedigree B73, B97, CML103, CML322, or Mo17.</h5>
  <h5>--- The wells, their inventories, and their notes are listed respectively. ---</h5>

  <form id="query_4_form" method="post" action="/metamaize/download/query_04/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 05:</h3>
  <h5>Display wells and inventories for a given row_id, plant, and tissue_type that are from 2012 and are of pedigree CML52, M162W, NC358, Oh7b, Tzi8.</h5>
  <h5>--- The wells, their inventories, and their notes are listed respectively. ---</h5>

  <form id="query_5_form" method="post" action="/metamaize/download/query_05/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 06:</h3>
  <h5>Display wells and inventories for a given row_id, plant, and tissue_type that are from 2013 and are of pedigree CML52, M162W, NC358, Oh7b, Tzi8.</h5>
  <h5>--- The wells, their inventories, and their notes are listed respectively. ---</h5>

  <form id="query_6_form" method="post" action="/metamaize/download/query_06/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

</div>
{% endblock %}
