{% extends "lab/base.html" %}

{% block title %}Meta-Maize Queries{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Meta-Maize Queries<h1>
</div>
<div class="container-fluid">

  <h3>Query 01:</h3>
  <h5>Display tissue_type, row_id, pedigree, seed_source, microbe_type, culture_name, and notes for cultures which had a microbe type observed.</h5>

  <form id="query_1_form" method="post" action="/metamaize/download/query_01/">
    {% csrf_token %}
  <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>

  <br/>
  <h3>Query 02:</h3>
  <h5>Display row_id, seed_source, pedigree, plant, tissue_type, plate_rep, well_id, inventory, source_well, and comments for all wells that have a row_id recorded.</h5>
  <h5>--- If a well came from another well, the source well is listed directly beneath it ---</h5>

  <form id="query_2_form" method="post" action="/metamaize/download/query_02/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
  </form>
</div>
{% endblock %}
