<!DOCTYPE html>
{% extends 'lab/base.html' %}
{% block title %}Meta-Maize Mediums{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Meta-Maize Mediums</h1>
</div>
<div class="container-fluid">

	<table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Medium ID</th>
		<th>Notes</th>
		<th>Citation ID</th>
	</tr>
	</thead>
	<tbody>
	{% if mediums %}
		{% for medium in mediums %}
			<tr>
				<td>{{ medium.medium_id }}</td>
				<td>{{ medium.notes }}</td>
				<td>{{ medium.citation }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no mediums present.</strong>
	{% endif %}

	</tbody>
	</table>

	<br/>
	<a href="/metamaize/">Meta-Maize Home</a>

</div>
{% endblock %}
