<!DOCTYPE html>
<html>
	<head>
		<title>Meta-Maize mediums</title>
	</head>

	<body>
	<table style="width:30%">
	<tr>
		<td><h3>Medium_ID</h3></td>
		<td><h3>Notes</h3></td>
		<td><h3>Citation_ID</h3></td>
	</tr>

	{% if mediums %}
		{% for medium in mediums %}
			<tr>
				<td>{{ medium.medium_id }}</td>
				<td>{{ medium.notes }}</td>
				<td>{{ medium.citation }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no mediums present.</strong>
	{% endif %}

	<a href="/metamaize/">Home</a>
	</body>
</html>
