<!DOCTYPE html>
{% extends 'lab/base.html' %}
{% block title %}Meta-Maize Pedigrees{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Meta-Maize Pedigrees</h1>
</div>
<div class="container-fluid">

	<form id="select_stocks_form" method="post" action="/metamaize/download/pedigree_all/">
		{% csrf_token %}
	<table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Pedigree Label</th>
		<th>Environment</th>
	</tr>
	</thead>
	<tbody>
	{% if pedigrees %}
		{% for pedigree in pedigrees %}
			<tr>
				<td>{{ pedigree.pedigree_label }}</td>
				<td>{{ pedigree.environment }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no pedigrees present.</strong>
	{% endif %}
	</tbody>
	</table>

	<br/>
	<input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
	</form>

	<br/>
	<a href="/metamaize/">Meta-Maize Home</a>

</div>
{% endblock %}
