<!DOCTYPE html>
{% extends 'lab/base.html' %}
{% block title %}Goals{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Goals</h1>
</div>
<div class="container-fluid">
<html>
	<head>
		<title>Meta-Maize pedigrees</title>
	</head>

	<body>
	<table style="width:30%">
	<tr>
		<td><h3>Pedigree_Label</h3></td>
		<td><h3>Environment</h3></td>
	</tr>

	{% if pedigrees %}
		{% for pedigree in pedigrees %}
			<tr>
				<td>{{ pedigree.pedigree_label }}</td>
				<td>{{ pedigree.environment }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no pedigrees present.</strong>
	{% endif %}

	<a href="/metamaize/">Home</a>
	</body>
</html>
</div>
{% endblock %}
