<!DOCTYPE html>
{% extends 'lab/base.html' %}
{% block title %}Meta-Maize Rows{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Meta-Maize Rows</h1>
</div>
<div class="container-fluid">

	<table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Row_ID</th>
		<th>Pedigree_Label</th>
		<th>Source</th>
		<th>Location</th>
	</tr>
	</thead>
	<tbody>
	{% if rows %}
		{% for row in rows %}
			<tr>
				<td>{{ row.row_id }}</td>
				<td>{{ row.pedigree_label.pedigree_label }}</td>
				<td>{{ row.source }}</td>
				<td>{{ row.location }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no rows present.</strong>
	{% endif %}

	</tbody>
	</table>

	<br/>
	<a href="/metamaize/">Meta-Maize Home</a>

</div>
{% endblock %}
