<!DOCTYPE html>
<html>
	<head>
		<title>Meta-Maize Rows</title>
	</head>

	<body>
	<table style="width:60%">
	<tr>
		<td><h3>Row_ID</h3></td>
		<td><h3>Pedigree_Label</h3></td>
		<td><h3>Source</h3></td>
		<td><h3>Location</h3></td>
	</tr>

	{% if rows %}
		{% for row in rows %}
			<tr>
				<td>{{ row.row_id }}</td>
				<!-- TOFIX: pedigree_label shows up as empty -->
				<td>{{ row.pedigree_label..pedigree_label }}</td>
				<td>{{ row.source }}</td>
				<td>{{ row.location }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no rows present.</strong>
	{% endif %}

	</body>
	<footer>
	<a href="/metamaize/">Home</a>
	</footer>
</html>
