<!DOCTYPE html>
{% extends 'lab/base.html' %}
{% block title %}Meta-Maize Tissues{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Meta-Maize Tissues</h1>
</div>
<div class="container-fluid">

	<form id="select_stocks_form" method="post" action="/metamaize/download/tissue_all/">
		{% csrf_token %}
	<table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Tissue_ID</th>
		<th>Type</th>
		<th>Sample_Name</th>
		<th>Date_Ground</th>
		<th>Date_Plated</th>
		<th>Date_Harvested</th>
		<th>Notes</th>
		<th>Row_ID</th>
	</tr>
	</thead>
	<tbody>
	{% if tissues %}
		{% for tissue in tissues %}
			<tr>
				<td>{{ tissue.tissue_id }}</td>
				<td>{{ tissue.tissue_type }}</td>
				<td>{{ tissue.sample_name }}</td>
				<td>{{ tissue.date_ground }}</td>
				<td>{{ tissue.date_plated }}</td>
				<td>{{ tissue.date_harvested }}</td>
				<td>{{ tissue.notes }}</td>
				<td>{{ tissue.row.row_id }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<strong>There are no tissues present.</strong>
	{% endif %}

	</tbody>
	</table>

	<br/>
	<input class="btn btn-primary" type="submit" name="submit" value="Export Data"/>
	</form>

	<br/>
	<a href="/metamaize/">Meta-Maize Home</a>

</div>
{% endblock %}
