# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.db
mine_project/mine.db-journal
mine_project/mine.db

*.xml
*.pyc
*~

webapp/data_dump.json
webapp/nelson_db.sql

# Ignoring settings.py as it is diff for local MySQL DB
webapp/settings.py

media/profile_images/underwater.jpg

lab/migrations/
metamaize/migrations/
genetics/migrations/
legacy/migrations/
jmaize/migrations/

media/upload_queue/
media/files/
media/chromatogram_files/
media/fasta_files/
media/profile_images/
.idea/*
env/
templates/lab/index/issues.html
myvenv/*

