# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.db
mine_project/mine.db-journal
mine_project/mine.db

*.pyc
*~

webapp/data_dump.json
webapp/nelson_db.sql

# Ignoring settings.py as it is diff for local MySQL DB
webapp/settings.py

media/profile_images/underwater.jpg
lab/migrations/0002_uploadqueue.py
lab/migrations/0003_obsother_obs_selector.py
lab/migrations/0001_initial.py
metamaize/migrations/0001_initial.py
genetics/migrations/0001_initial.py
legacy/migrations/0001_initial.py
jmaize/migrations/0001_initial.py

lab/migrations/0002_auto_20150519_1214.py
lab/migrations/0002_auto_20150618_1045.py
lab/migrations/0002_auto_20150814_1028.py
media/files/
