<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
		<link href="{% static 'css/additional.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/ico">
		<link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
		<title>{% block title %}Nelson Lab{% endblock %}</title>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		   <div class="navbar-inner">
			   <div class="container">
				   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
				   </button>
				   <a class="brand" href="/lab/">Nelson Lab</a>

				   <div class="nav-collapse collapse">
					   <ul class="nav pull-right">

						   {% if logged_in_user %}
							<li class="navbar-text">Welcome {{logged_in_user}}!</li>
							<li><a href="/lab/logout/">Logout</a></li>
							<li><a href="/lab/profile/{{logged_in_user}}/">Profile</a></li>
						   {% else %}
							<li><a href="/lab/register/">Register</a></li>
							<li><a href="/lab/login/">Login</a></li>
						   {% endif %}
					   </ul>
					   <ul class="nav">
								<!--
								<li><a href="/lab/new_experiment/">New Experiment</a></li>
								<li><a href="/lab/new_treatment/">Add Treatment</a></li>
								-->
								<li><a href="/lab/log_data/select_obs/">Load Data</a></li>
					   </ul>
				   </div>
				   <!--/.nav-collapse -->
			   </div>
		   </div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Search</li>
							<form>
								<label></label>
								<li><input  class="input-medium search-query" type="text" name="sidebarsearch" id="sidebarsearch" placeholder="Type Anything"/></li>
							</form>
							<div id="sidebar_search_results">
								{% include 'lab/sidebar_search_results_list.html' with results_list=results_list %}
							</div>
						</ul>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>About</h4></li>
								<li class="nav-list"><a href='/lab/about/help/'>Help</a></li>
								<li class="nav-list"><a href='http://www.plantpath.cornell.edu/labs/nelson_r/index.html'>Lab Page</a></li>
								<li class="nav-list"><a href='/lab/about/people/all/'>People</a></li>
								<li class="nav-list"><a href='/lab/about/odk/'>Open Data Kit</a></li>
								<!--
								<li class="nav-list"><a href='/lab/about/goals/'>Goals</a></li>
							-->
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Inventories</h4></li>
								<li class="nav-list"><a href='/lab/seed_inventory/'>Seed</a></li>
								<li class="nav-list"><a href='/lab/isolate_inventory/'>Isolates</a></li>
								<li class="nav-list"><a href='/lab/glycerol_stock/'>Glycerol Stocks</a></li>
								<!---
								<li class="nav-list"><a href='/legacy/legacy_seed_inventory/'>Legacy Seed</a></li>
								-->
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Browse Data</h4></li>
								<li class="nav-list"><a href='/lab/experiment/search/'>Find an Experiment</a></li>
								<li class="nav-list"><a href='/lab/query/'>Query Builder</a></li>
								<li>&nbsp;</li>
								<li class="nav-list"><a href='/lab/data/maize/'>Maize Survey Data</a></li>
								<li class="nav-list"><a href='/lab/data/separation/'>Separations Data</a></li>
								<li class="nav-list"><a href='/lab/data/row/'>Row Data</a></li>
								<li class="nav-list"><a href='/lab/data/plant/'>Plant Data</a></li>
								<li class="nav-list"><a href='/lab/data/tissue/'>Tissue Data</a></li>
								<li class="nav-list"><a href='/lab/data/plate/'>Plate Data</a></li>
								<li class="nav-list"><a href='/lab/data/well/'>Well Data</a></li>
								<li class="nav-list"><a href='/lab/data/culture/'>Culture Data</a></li>
								<li class="nav-list"><a href='/lab/data/dna/'>DNA Data</a></li>
								<!--
								<li class="nav-list"><a href='/lab/data/microbe/'>Microbe Data</a></li>
							-->
								<li class="nav-list"><a href='/lab/data/sample/'>Samples Data</a></li>
								<li class="nav-list"><a href='/lab/data/measurement/'>Measurement Data</a></li>
								<!--
								<li class="nav-list"><a href='/lab/data/genotype/'>Genotype Results Data</a></li>
								-->
								<!--
								<li class="nav-list"><a href='/lab/data/genotype/'>Genotypic Data</a></li>
								-->
								<li>&nbsp;</li>
								<li class="nav-list"><a href='/lab/data/medium/'>Medium Data</a></li>
								<li class="nav-list"><a href='/lab/data/measurement_parameter/'>Parameter Data</a></li>
								<li class="nav-list"><a href='/lab/data/location/'>Storage Location Data</a></li>
								<li class="nav-list"><a href='/lab/data/locality/'>Locality Data</a></li>
								<li class="nav-list"><a href='/lab/data/field/'>Field Data</a></li>
								<li class="nav-list"><a href='/lab/data/disease_info/'>Disease Info Data</a></li>
								<li class="nav-list"><a href='/lab/data/taxonomy/'>Taxonomy Data</a></li>
							</ul>
							<!--
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Mycotoxin Data</h4></li>
								<li class="nav-list"><a href='/lab/mycotoxin/templates/'>Templates</a></li>
								<li class="nav-list"><a href='/lab/data/maize/mycotoxin/'>Maize Samples</a></li>
								<li class="nav-list"><a href='/lab/data/sample/mycotoxin/'>Samples</a></li>
								<li class="nav-list"><a href='/lab/data/separation/mycotoxin/'>Separations</a></li>
								<li class="nav-list"><a href='/lab/data/extract/mycotoxin/'>Extracts</a></li>
								<li class="nav-list"><a href='/lab/data/measurement/mycotoxin/'>Measurements</a></li>
							</ul>
						-->
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>MetaMaize</h4></li>
								<li class="nav-list"><a href='/metamaize/pedigree/'>Pedigree</a></li>
								<li class="nav-list"><a href='/metamaize/row/'>Row</a></li>
								<li class="nav-list"><a href='/metamaize/culture/'>Culture</a></li>
								<li class="nav-list"><a href='/metamaize/tissue/'>Tissue</a></li>
								<li class="nav-list"><a href='/metamaize/medium/'>Medium</a></li>
								<li class="nav-list"><a href='/metamaize/fixed_queries/'>Queries</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Legacy Data</h4></li>
								<li class="nav-list"><a href='/legacy/experiment/'>Experiment</a></li>
								<li class="nav-list"><a href='/legacy/markers/'>Markers</a></li>
								<li class="nav-list"><a href='/legacy/seed/'>Seed</a></li>
								<li class="nav-list"><a href='/legacy/row/'>Row</a></li>
								<li class="nav-list"><a href='/legacy/genotype/'>Genotype</a></li>
								<li class="nav-list"><a href='/legacy/tissue/'>Tissue</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Resources</h4></li>
								<li class="nav-list"><a href='/lab/data/publication/'>Publications</a></li>
								<li class="nav-list"><a href='http://newa.cornell.edu/'>Weather Station</a></li>
								<li class="nav-list"><a href='http://www.aphis.usda.gov/wps/portal/aphis/home'>APHIS</a></li>
								<li class="nav-list"><a href='/lab/data/downloads/'>Downloads</a></li>
								<li class="nav-list"><a href='/lab/site_map/'>Site Map</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Admin</h4></li>
								<li class="nav-list"><a href='/admin/'>Django</a></li>
								<li class="nav-list"><a href='/phpmyadmin/'>PHPMyAdmin</a></li>
							</ul>
					</div>
				</div>
				<!--/span-->
				<div class="span10">
					{% block body_block %}
					{% endblock %}
				</div>
				<!--/span-->
			</div>
			<!--/row-->
		</div>
		<!--/.fluid-container-->

		<hr>
		<footer>
			<div class="container">
				<p>&copy; Nelson Lab 2015</p>
			</div>
		</footer>
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/rango-ajax.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	</body>
</html>
