
{% extends 'lab/base.html' %}
{% block title %}Collaborators{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Collaborators</h1>
</div>

<div class="container-fluid">

  <div id="collaborator_list">
    {% if collaborators %}
      {% for collaborator in collaborators %}
        <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4"><h5>{{ collaborator.organization }}</h5></div>
              <div class="span4 offset2">
                <h4><a href='/lab/collaborator/{{collaborator.id}}/'>{{collaborator.first_name}} {{collaborator.last_name}}</a></h4>
                <p><b>{{collaborator.phone}}</b></p>
                <p>{{collaborator.email}}</p>
              </div>
            </div>
          </div>
        </div>
        <br/>
      {% endfor %}
    {% else %}
      <h4>No Collaborators!</h4>
    {% endif %}
  </div>
</div>

{% endblock %}
