{% extends 'lab/base.html' %}
{% load static %}
{% block title %}DNA Data{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>DNA Data</h1>
</div>
  <br />

    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Experiments</li>
            <form>
              <label></label>
              <li><input  class="search-query" type="text" name="dna_experimentsuggestion" id="dna_experimentsuggestion" placeholder="Type Experiment (e.g. 08PN)"/></li>
            </form>
          </ul>
        </div>
        <div class="span3 offset1">
          <button class="btn btn-info" id="show_all_dna_experiment" name="show_all_dna_experiment" type="submit">Show All Experiments</button>
        </div>
        {% if checkbox_dna_experiment %}
        <div class="span2 offset3">
          <button class="btn btn-warning" id="clear_dna_experiment" name="clear_dna_experiment" type="submit">Clear Experiments</button>
        </div>
        {% endif %}
      </div>
      <div id="dna_experiment">
        {% include 'lab/dna_experiment_list.html' with dna_experiment_list=dna_experiment_list %}
      </div>
      {% if checkbox_dna_experiment %}
        <hr>
        <h5>Selected Experiments</h5>
        {% for exp in checkbox_dna_experiment %}
          <li>{{ exp.name }}</li>
        {% endfor %}
      {% endif %}
    </div><br/>

    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <h2>DNA Data</h2><br/>
        <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Exp</th>
            <th>DNA ID</th>
            <th>Extraction Method</th>
            <th>Date</th>
            <th>Tube ID</th>
            <th>Tube Type</th>
            <th>Comments</th>
            <th>Well ID</th>
            <!--
            <th>Plate ID</th>
            <th>Row ID</th>
            <th>Plant ID</th>
          -->
            <th>Tissue ID</th>
            <th>Seed ID</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          {% for data in dna_data %}
          <tr>
            <td><a href='/lab/experiment/{{data.experiment.name}}/'>{{data.experiment.name}}</a></td>
            <td><a href='/lab/dna/{{data.obs_dna.id}}/'>{{data.obs_dna.dna_id}}</a></td>
            <td>{{data.obs_dna.extraction_method}}</td>
            <td>{{data.obs_dna.date}}</td>
            <td>{{data.obs_dna.tube_id}}</td>
            <td>{{data.obs_dna.tube_type}}</td>
            <td>{{data.obs_dna.comments}}</td>
            <td><a href='/lab/well/{{data.obs_well.id}}/'>{{data.obs_well.well_id}}</a></td>
            <!--
            <td><a href='/lab/plate/{{data.obs_plate.id}}/'>{{data.obs_plate.plate_id}}</a></td>
            <td><a href='/lab/row/{{data.obs_row.id}}/'>{{data.obs_row.row_id}}</a></td>
            <td><a href='/lab/plant/{{data.obs_plant.id}}/'>{{data.obs_plant.plant_id}}</a></td>
          -->
            <td><a href='/lab/tissue/{{data.obs_tissue.id}}/'>{{data.obs_tissue.tissue_id}}</a></td>
            <td><a href='/lab/stock/{{data.stock.id}}/'>{{data.stock.seed_id}}</a></td>
            <td><a href='/lab/profile/{{data.user}}/'>{{data.user}}</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <br/>
      <form action='/lab/download/dna/'>
        <input class="btn btn-primary" type="submit" name="submit" value="Download Data"/>
      </form>
    </div><br/><br/>



{% endblock %}
