{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Downloads{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Downloads</h1>
</div>

<div class="container-fluid">
  <div class="span6">
    <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:25px">
      <h2>Template Packages</h2>
      <hr>
      <h4><a href='/lab/download/template/mycotoxin_maize_separation/'>Record Mycotoxin Data For Maize Samples</a></h4>
      <h4><a href='/lab/download/template/mycotoxin_seed_separation/'>Record Mycotoxin Data For Inventoried Seed</a></h4>

      <br/>
      <h2>Individual Templates</h2>
      <hr>
      <h4><a href='/lab/download/template/seed_inventory/'>Seed Data</a></h4>
      <h4><a href='/lab/download/template/seed_packet/'>Seed Packets</a></h4>
      <h4><a href='/lab/download/template/isolate_data/'>Isolate Data</a></h4>
      <h4><a href='/lab/download/template/row_data/'>Row Data</a></h4>
      <h4><a href='/lab/download/template/plant_data/'>Plant Data</a></h4>
      <h4><a href='/lab/download/template/tissue_data/'>Tissue Data</a></h4>
      <h4><a href='/lab/download/template/culture_data/'>Culture Data</a></h4>
      <h4><a href='/lab/download/template/wells_data/'>Well Data</a></h4>
      <h4><a href='/lab/download/template/plate_data/'>Plate Data</a></h4>
      <h4><a href='/lab/download/template/dna_data/'>DNA Data</a></h4>
      <h4><a href='/lab/download/template/microbe_data/'>Microbe Data</a></h4>
      <h4><a href='/lab/download/template/environment_data/'>Environment Data</a></h4>
      <h4><a href='/lab/download/template/samples_data/'>Samples Data</a></h4>
      <h4><a href='/lab/download/template/measurement_data/'>Measurement Data</a></h4>
    </div>
  </div>
  <div class="span6">
  </div>
</div>
{% endblock %}
