{% extends "lab/base.html" %}

{% block title %}Measurement Parameter{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Edit Measurement Parameter</h1>
  <hr>
  <a href='/lab/measurement_parameter/{{measurement_parameter_id}}/'><input class="btn btn-info" type="submit" name="submit" value="Back to Parameter Page"/></a>
  <hr>
  {% if updated %}
  <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Edit Was Saved!<br/>&nbsp;</h4>
  {% elif failed %}
  <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Edit Was Not Saved! Fix Errors.<br/>&nbsp;</h4>
  {% endif %}
  <div class="container-fluid">
    <form class="form-signin" id="update_seed" method="post" action="/lab/edit/measurement_parameter/{{measurement_parameter_id}}/">
      {% csrf_token %}
      {% for field in measurement_parameter_form.visible_fields %}
      <div class="row">
        <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
        <div class="span3">{{ field }}</div>
        <div class="span4"><font color="red">{{ field.errors }}</font></div>
      </div>
      {% endfor %}
      <br />
      <input class="btn btn-primary" type="submit" name="submit" value="Update"/>
    </form>
  </div>
</div>

{% endblock %}
