{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Field Data{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Field Data</h1>
</div>

    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <a href='/lab/log_data/field/'><input class="btn btn-info" type="submit" name="submit" value="Add New Field"/></a>
      <br/><br/>
        <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Field Name</th>
            <th>Field Num</th>
            <th>Comments</th>
            <th>Locality City</th>
            <th>Locality State</th>
            <th>Locality Country</th>
            <th>Locality Zipcode</th>
          </tr>
          </thead>
          <tbody>
          {% for data in field_list %}
          <tr>
            <td><a href='/lab/field/{{data.id}}/'>{{data.field_name}}</a></td>
            <td>{{data.field_num}}</td>
            <td>{{data.comments}}</td>
            <td>{{data.locality.city}}</td>
            <td>{{data.locality.state}}</td>
            <td>{{data.locality.country}}</td>
            <td>{{data.locality.zipcode}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

    </div><br/><br/>
  </div>


{% endblock %}
