{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Glycerol Stock Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Glycerol Stock Inventory</h1>
</div>

<hr>
<a href='/lab/log_data/glycerol_stock/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Glycerol Stock Information"/></a>
<hr>

<h2>Glycerol Stocks</h2>
<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
  <table id="glycerol_inventory_datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Glycerol Stock ID</th>
        <th>Experiment</th>
        <th>Field</th>
        <th>Isolate</th>
        <th>DNA</th>
        <th>Location</th>
        <th>Date</th>
        <th>Extract Color</th>
        <th>Organism</th>
        <th>Username</th>
        <th>Comments</th>
      </tr>
    </thead>

  </table>
  <br/>

</div>
{% endblock %}
