{% extends 'lab/base.html' %}
{% block title %}Change Log/Goals{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Changelog and Known Issues</h1>

</div>
<h3>Change Log:</h3>
    <ul>
        <li><b>2/8/2016</b>: Pushed site to production server, updated templates </br>Added Changelog / Issues page</li>
        <li><b>2/9/2016</b>: 500 Errors fixed for People and Help page</li>
        <li><b>2/10/2016</b>: Started working on <a href="https://drive.google.com/folderview?id=0B5gz9ZDwT2_IbnM5M2FiZ3hBdU0&usp=sharing">FCP documentation</a> <br/>Added redirect link after form completion</li>
        <li><b>2/11/2016</b>: Profile picture uploads now work</li>
        <li><b>2/14/2016</b>: Began working on IsolateStock page</li>
        <li><b>2/15/2016</b>: IsolateStock placeholder page created</li>
        <li><b>2/17/2016</b>: IsolateStock page finished, database updates underway</li>
        <li><b>2/21/2016</b>: Database update complete, string changes underway</li>
        <li><b>2/22/2016</b>: IsolateStock and Isolate changes complete, testing underway</li>
    </ul>
<h3>Issues:</h3>
    <ul>
        <li>Seed stock upload doesn’t work if “No Field” is used</li>
        <li>Isolate “Used For” table lists all items in database</li>
    </ul>

<h3>Contact:</h3>
    <ul>
        <li>Email <em>slin63@illinois.edu</em> or <em>smideros@illinois.edu</em> with any other problems or for help.</li>
    </ul>


{% endblock %}
