
{% extends 'lab/base.html' %}
{% block title %}Change Log/Goals{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Changelog and Known Issues</h1>

</div>    
<h3>Change Log:</h3>
    <ul>
        <li><b>2/8/2016</b>: Pushed site to production server, updated templates</li>
        <li><b>2/9/2016</b>: 500 Errors fixed for People and Help page</li>
    </ul>
<h3>Issues:</h3>
    <ul>
        <li>Fix glycerol stock forms and tables. For now, data for this field must be input through the admin page.</li>
    </ul>

<h3>Contact:</h3>
    <ul>
        <li>Email <em>slin63@illinois.edu</em> or <em>smideros@illinois.edu</em> with any other problems or for help.</li>
    </ul>


{% endblock %}
