
{% extends 'lab/base.html' %}
{% block title %}Help{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Help Using the Site</h1>
</div>

<div class="container-fluid">
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Login</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/login/'>nelsonlab.cac.cornell.edu/lab/login/</a></p>
  <br/>
  <p>If you were a member of the lab before the transition to the new online database:</p>
  <br/>
  <p>1. Your username should be firstname_lastname, but to verify your username go to <a href='http://nelsonlab.cac.cornell.edu/lab/about/people/all/'>nelsonlab.cac.cornell.edu/lab/about/people/all/</a> and find your profile.</p>
  <p>2. Click Login in the top right corner of the website.</p>
  <p>3. Email nm529@cornell.edu for your default password. Use your username and password to login.</p>
  <p>4. Change your default password ASAP by going to <a href='http://nelsonlab.cac.cornell.edu/lab/change_password/'>nelsonlab.cac.cornell.edu/lab/change_password/</a></p>
  <br/>
  <p>*****Important*****</p>
  <p>Please change your password ASAP by going to <a href='http://nelsonlab.cac.cornell.edu/lab/change_password/'>nelsonlab.cac.cornell.edu/lab/change_password/</a></p>
  <p>More info found in sections below.</p>
  <p>*******************</p>
  <br/>
  <p>If you are a new member of the lab:</p>
  <br/>
  <p>1. Click "Register" in the top right corner of the website.</p>
  <p>2. Fill out the information to register your account.</p>
  <p>3. Login using your new account.</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Edit Your Profile</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/profile/'>nelsonlab.cac.cornell.edu/lab/profile/</a></p>
  <br/>
  <p>1. You must first login to edit your profile.</p>
  <p>2. Click "Profile" in the top right corner of the website.</p>
  <p>3. Click "Edit Profile"</p>
  <p>4. Fill out the form and click "Submit Changes"</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Change Your Password</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/change_password/'>nelsonlab.cac.cornell.edu/lab/change_password/</a></p>
  <br/>
  <p>1. You must first login to change your password.</p>
  <p>2. Click "Profile" in the top right corner of the website.</p>
  <p>3. Click "Change Password"</p>
  <p>4. Fill out the form and click "Change Password"</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To View Data</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p>The left bar on the screen holds links that are useful for browsing data.</p>
  <br/>
  <p>&nbsp;&nbsp;&nbsp;-Seed Inventory</p>
  <p>&nbsp;&nbsp;&nbsp;-Isolate Inventory</p>
  <p>&nbsp;&nbsp;&nbsp;-Find an Experiment</p>
  <p>&nbsp;&nbsp;&nbsp;-Row Data</p>
  <p>&nbsp;&nbsp;&nbsp;-Plant Data</p>
  <p>&nbsp;&nbsp;&nbsp;-Samples Data</p>
  <p>&nbsp;&nbsp;&nbsp;-Measurement Data</p>
  <p>&nbsp;&nbsp;&nbsp;-Query Builder</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Use "Seed Inventory"</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/seed_inventory/'>nelsonlab.cac.cornell.edu/lab/seed_inventory/</a></p>
  <br/>
  <p>Searching for a specific Seed ID</p>

  <p>1. Enter a Seed ID into the "Search Seed ID" Box</p>
  <p>2. Seed IDs which match what you entered are listed below.</p>
  <p>3. Click on the Seed ID that matches. This will take you to the Stock Info page, which displays all known information about the seed.</p>
  <br/>
  <p>Filtering through Seed Stock Info to find Seed Packets</p>

  <p>1. On the Seed Inventory page there are two Filters currently built in: Population and Pedigree</p>
  <p>2. Entering a population in the "Select Taxonomy" box causes a list of matching results to appear. You can also click "Show all Populations".</p>
  <p>3. Select the checkboxes that meet your needs and click "Select Taxonomies"</p>
  <p>4. Entering a pedigree in the "Find a Pedigree" box causes a list of matching results to appear. You can also click "Show all Pedigrees".</p>
  <p>5. Select the checkboxes that meet your needs and click "Select Pedigrees"</p>
  <p>6. These two filters are applied to the "Seed Stocks" table that appears on the bottom of the Seed Inventory page.</p>
  <p>7. You can then select the Seed IDs of interest by selecting the checkboxes, and clicking "Search Inventory for Selected Stocks".</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>Not all seed stocks have seed packets, and not all seed packets have been inventoried!</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Use "Isolate Inventory"</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/isolate_inventory/'>nelsonlab.cac.cornell.edu/lab/isolate_inventory/</a></p>
  <br/>
  <p>Filtering through Isolate Info to find Inventoried Isolates</p>

  <p>1. On the Isolate Inventory page there are two Filters currently built in: Disease Name and Genus</p>
  <p>2. Entering a disease name in the "Select Disease" box causes a list of matching results to appear. You can also click "Show all Diseases".</p>
  <p>3. Select the checkboxes that meet your needs and click "Select Disease"</p>
  <p>4. Entering a genus in the "Select Taxonomy" box causes a list of matching results to appear. You can also click "Show all Taxonomies".</p>
  <p>5. Select the checkboxes that meet your needs and click "Select Taxonomies"</p>
  <p>6. These two filters are applied to the "Isolates" table that appears on the bottom of the Isolate Inventory page.</p>
  <p>7. You can then select the isolates of interest by selecting the checkboxes, and clicking "Search Inventory for Selected Isolates".</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Use "Find an Experiment"</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/experiment/search/'>nelsonlab.cac.cornell.edu/lab/experiment/search/</a></p>
  <br/>
  <p>1. A table listing all experiments is shown.</p>
  <p>2. You can search using the "Search" box.</p>
  <p>3. Click on an Experiment Name to access the Experiment page.</p>
  <p>4. The Experiment page holds all datasets that have been recorded for an experiment.</p>
  <br/>
  <p>Treatments that were applied to the experiment are listed in a table, or "No Treatment Data" is shown.</p>
  <br/>
  <p>Datasets include:</p>
  <p>&nbsp;&nbsp;&nbsp;- Seed Planted</p>
  <p>&nbsp;&nbsp;&nbsp;- Seed Collected</p>
  <p>&nbsp;&nbsp;&nbsp;- Seed Packets Planted</p>
  <p>&nbsp;&nbsp;&nbsp;- Seed Packets Collected</p>
  <p>&nbsp;&nbsp;&nbsp;- Plant Data</p>
  <p>&nbsp;&nbsp;&nbsp;- Row Data</p>
  <p>&nbsp;&nbsp;&nbsp;- Environment Data</p>
  <p>&nbsp;&nbsp;&nbsp;- Samples Data</p>
  <p>&nbsp;&nbsp;&nbsp;- Measurements Data</p>
  <br/>
  <p>5a. By clicking "View" on a dataset, it will take you to a page with the data displayed on a table.</p>
  <p>5b. Alternatively, by clicking "Download" on a dataset, a csv file with the data will be downloaded by your browser.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>The Experiment page holds all recorded information for a given experiment.</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Use "Browse Row Data", "Browse Plant Data", "Browse Samples Data", "Browse Measurement Data"</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/data/row/'>nelsonlab.cac.cornell.edu/lab/data/row/</a></p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/data/plant/'>nelsonlab.cac.cornell.edu/lab/data/plant/</a></p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/data/samples/'>nelsonlab.cac.cornell.edu/lab/data/samples/</a></p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/data/measurement/'>nelsonlab.cac.cornell.edu/lab/data/measurement/</a></p>
  <br/>
  <p>1. These pages allow you to easily view data sets across different experiments.</p>
  <p>2. Enter an experiment name in the "Select Experiments" box, or click "Show all Experiments"</p>
  <p>3. Select the experiments you want by clicking the checkboxes, and then click "Select Experiments"</p>
  <p>4. You can download the data that is displayed in the table by clicking "Export Data". A csv file will be downloaded by your browser.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>If you need more flexibility in browsing data, try using the Query Builder.</p>
  <p>If the Query Builder cannot meet your specific needs, write your own custom SQL using PHPMyAdmin.</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Use "Query Builder"</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/query/'>nelsonlab.cac.cornell.edu/lab/query/</a></p>
  <br/>
  <p>The Query Builder allows greater flexibility in querying the database.</p>
  <br/>
  <p>1. Select the Data Types you are interested in by clicking the checkboxes.</p>
  <br/>
  <p>For Example:</p>
  <p>&nbsp;&nbsp;&nbsp;- If you want measurements of row data for an experiment, you would click Measurements, Experiments, and Rows</p>
  <p>&nbsp;&nbsp;&nbsp;- If you want measurements that came from seed stocks, you would click Measurements and Seed Stocks</p>
  <p>&nbsp;&nbsp;&nbsp;- If you want to know what seed stocks were used in what rows in an experiment, you would click Seed Stocks, Rows, and Experiment</p>
  <p>&nbsp;&nbsp;&nbsp;- If you want measurements of row data (and you want to know what seed stocks were planted in those rows), you would click Seed Stocks, Rows, and Measurements</p>
  <br/>
  <p>2. Select the field names that you are interested in viewing by clicking their checkboxes.</p>
  <p>3. Add any filter sorting options for the fields you selected by selecting a filter from the dropdowns.</p>
  <p>4. Add any restrictions to the query for the fields you selected by entering text in the "contains" box.</p>
  <p>5a. Click "View Results" to see the results in a table on the website.</p>
  <p>5b. Alternatively (and much faster), click "Download Results" to have a csv file with the results downloaded by your browser.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>Queries can be quite intensive and slow if the query is very broad. Use the "Download Results" option for faster responses.</p>
  <p>If the Query Builder cannot meet your specific needs, write your own custom SQL using PHPMyAdmin.</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>What is the "MetaMaize" Section on the left bar?</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>

  <p>MetaMaize is a project that currently has its own separate database.</p>
  <p>Its database is not directly connected with the NelsonLab database tables.</p>
  <p>Future plans are to merge the data from the MetaMaize database into the NelsonLab database tables.</p>
  <br/>
  <p>For example:</p>
  <p>&nbsp;&nbsp;&nbsp;- The MetaMaize Row Data will be merged with the overall Row Data</p>
  <p>&nbsp;&nbsp;&nbsp;- The MetaMaize Tissue Data, Culture Data, and Medium Data will be merged with the overall Tissue Data, Culture Data, and Medium Data</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Add A New Experiment</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/new_experiment/'>nelsonlab.cac.cornell.edu/lab/new_experiment/</a></p>
  <br/>
  <p>1. You must first login to submit a new experiment.</p>
  <p>2. Click "New Experiment" in the top header bar.</p>
  <p>3. Fill out the form and click "Submit".</p>
  <p>4. Your experiment will now show up in "Find an Experiment"</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Add A New Treatment to an Experiment</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/new_treatment/'>nelsonlab.cac.cornell.edu/lab/new_treatment/</a></p>
  <br/>
  <p>1. You must first login to submit a new treatment.</p>
  <p>2. Click "Add Treatment" in the top header bar.</p>
  <p>3. Fill out the form and click "Submit".</p>
  <p>4. Your treatment will now show up in Experiment's page.</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How To Add New Data to an Experiment</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/lab/log_data/select_obs/'>nelsonlab.cac.cornell.edu/lab/log_data/select_obs/</a></p>
  <br/>
  <p>1. You must first login to add data.</p>
  <p>2. Click "Log Data" in the top header bar.</p>
  <p>3. You will see the different data types that are available.</p>
  <p>&nbsp;&nbsp;&nbsp;- Download the template that matches the data you want to add.</p>
  <p>&nbsp;&nbsp;&nbsp;- Fill in the template with your data.</p>
  <p>4. Click "Upload to Queue".</p>
  <p>5. Fill out the form and click "Submit".</p>
  <p>&nbsp;&nbsp;&nbsp;- Attach the completed template as the file attachment.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>When you submit a file using the "Upload to Queue" option, a curator will need to take a look at the file that was submitted, validate it, and then insert the data into the database!</p>
  <p>*******************</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>Ideally all data submitted using the "Upload to Queue" option will be formatted using the templates provided, but it is possible for a curator to work with users to map their data to the templates.</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How will the Curator Add Data to the Database?</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/admin/'>nelsonlab.cac.cornell.edu/admin/</a></p>
  <br/>
  <p>1. Click on "Django" in the Admin section on the bottom of the left bar.</p>
  <p>2. Login to the Admin page. To get admin credentials, contact an administrator.</p>
  <p>3. Click "Upload Queues"</p>
  <p>4. A list of files and whether the job has been Completed or Not Completed is shown.</p>
  <p>5. The curator will then find the files in /data/srv/nelsondb/app/webapp/media/upload_queue/, run validation scripts on the file, and then insert the data into the database.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>Validation and data loading scripts still need to be developed.</p>
  <p>*******************</p>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <h3>How can advanced users access the database directly?</h3>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <p><a href='http://nelsonlab.cac.cornell.edu/phpmyadmin/'>nelsonlab.cac.cornell.edu/phpmyadmin/</a></p>
  <br/>
  <p>1. Click on "PHPMyAdmin" in the Admin section on the bottom of the left bar.</p>
  <p>2. Login to the Database. To get admin credentials, contact an administrator.</p>
  <br/>
  <p>*****IMPORTANT*****</p>
  <p>This page gives direct access to the database.</p>
  <p>Users can add, edit, and delete data easily.</p>
  <p>Users can add, edit, and delete tables easily.</p>
  <p>*******************</p>
</div>

{% endblock %}
