{% extends 'lab/base.html' %}
{% block body_block %}

{% load staticfiles %}

<div class="hero-unit">

    <h1>Nelson Lab</h1>

</div>

<div class="container-fluid">
  {% if user.is_authenticated %}
    {% if logged_in_user %}
      <div class="bg-success" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
        &nbsp;<br/>
        <h3>&nbsp;&nbsp;&nbsp;Welcome <a href='/lab/profile/{{logged_in_user}}/'>{{logged_in_user}}</a>!</h3>
        <ul>
          <li><h5><a href='/lab/profile/{{logged_in_user}}/'>View Profile</a></h5></li>
          <li><h5><a href='/lab/edit_profile/'>Edit Profile</a></h5></li>
        </ul>
        &nbsp;<br/>
      </div>
    {% endif %}
  {% else %}
    <h3 class="bg-success" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">&nbsp;<br/>&nbsp;&nbsp;&nbsp;<a href="/lab/login/">Login</a> to Access Data and Other  Resources!<br/>&nbsp;</h3>
  {% endif %}

  <br/>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="span6">
          <div class="container-fluid">
            <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
              <div class="span7">
                <h3>Load Data</h3>
                <h5><a href="/lab/log_data/select_obs/">Add Data</a></h5>
              </div>
              <div class="span5">
                <img src='{% static '/media/site_images/new_experiment.jpg' %}' />
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="container-fluid">
            <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
              <div class="span7">
                <h3>File Storage</h3>
                <h5><a href="/lab/file_storage/">Manage Files</a></h5>
              </div>
              <div class="span5">
                <img src='{% static '/media/site_images/files.png' %}' />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <h5 class="bg-success" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">&nbsp;<br/>&nbsp;&nbsp;&nbsp;New Feature: <a href='/lab/data/genotype/'>Marker Viewer</a><br/>&nbsp;</h5>

  <h3 class="bg-danger" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Platform Under Construction!<br/>&nbsp;</h3>
  <br/>

</div>
<!--
<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/lab/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <div class="span6">
        <h2>Top Five Pages</h2>
        {% if page_list %}
        <ul>
            {% for page in page_list %}
            <li><a href="/lab/goto/?page_id={{ page.id }}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    </div>
</div>
-->
{% endblock %}
