{% extends 'lab/base.html' %}
{% block title %}Find an Isolate{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Find an Isolate</h1>
</div>
{% if selected_isolates %}
  <hr>
  <h2>Isolates in Inventory</h2><br/>
      <table id="selected_isolates" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Isolate ID</th>
          <th>Isolate Name</th>
          <th>Genus</th>
          <th>Disease</th>
          <th>Locality</th>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for isolate in selected_isolates %}
        <tr>
          <td>{{ isolate.isolate_id }}</td>
          <td>{{ isolate.isolate_name }}</td>
          <td>{{ isolate.passport.taxonomy.genus }}</td>
          <td><a href='/lab/disease_info/{{isolate.disease_info.id}}/'>{{ isolate.disease_info.common_name }}</a></td>
          <td><a href="{% url 'single_locality_info' isolate.locality_id %}">{{ isolate.locality }}</a></td>
          <td>{{ isolate.comments }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
  {% else %}
    <hr>
    <h2>The Isolates You Selected Are Not Inventoried</h2><br/>
{% endif %}
{% endblock %}
