{% extends "lab/base.html" %}

{% block title %}Locality{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Locality<h1>
{% if locality_info %}
  <br/>
  <h2>City: {{ locality_info.city }}</h2>
  <p>County: {{locality_info.county}}</p>
  <p>State: {{locality_info.state}}</p>
  <p>Country: {{locality_info.country}}</p>
  <p>Zipcode: {{locality_info.zipcode}}</p>

  <hr>
  <a href='/lab/edit/locality/{{locality_info.id}}/'><input class="btn btn-info" type="submit" name="submit" value="Edit Locality"/></a>
  <hr>

{% else %}
  <br/>
  <h2>Locality Does Not Exist</h2>
{% endif %}
</div>

{% endblock %}
