
{% extends 'lab/base.html' %}
{% block title %}Log Data Online{% endblock %}
{% block body_block %}
  <div class="hero-unit">
    <h1>{{data_type_title}}</h1>
  </div>

  <div class="container-fluid">

    {% if failed %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Nothing was saved! Fix Errors in data.<br/>&nbsp;</h4>
    {{failed_error}}
    {% endif %}
    {% if saved %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Data was saved!<br/>&nbsp;</h4>
    {% endif %}

    {% if sent %}
    {% if failed %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Data Was Not Saved to the Database!<br/>&nbsp;</h4>
    {% else %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Data Was Saved to the Database!<br/>&nbsp;</h4>
    {% endif %}
    {% endif %}

    {% if data_type == 'seed_packet' %}
      <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
        <div class="row-fluid">
          <div class="span5">
            <ul class="nav nav-list">
              <h4>First Make Sure Seed ID is in Database!</h4>
              <hr>
              <li class="nav-header">Search Seed ID to Determine if Seed Info in Database</li>
              <form>
                <label></label>
                <li><input  class="search-query" type="text" name="seedidsearch" id="seedidsearch" placeholder="Seed ID (e.g. 09PN0001_001s)"/></li>
              </form>
            </ul>
          </div>
          <div class="span3 offset4">
            &nbsp;&nbsp;&nbsp;<a href='/lab/log_data/seed_inventory/'><input class="btn btn-info" type="submit" name="submit" value="Add New Seed Information"/></a>
          </div>
        </div>
        <div id="seed_id_search_results">
          {% include 'lab/seed_id_search_list.html' with seed_id_list=seed_id_list %}
        </div>
      </div>

    {% endif %}

    {% if data_type == 'seed_inventory' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/seed_stock/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/seed_stock_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/seed_stock/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'row' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/row_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/row_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/row_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'plant' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/plant_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/plant_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/plant_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'tissue' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/tissue_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/tissue_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/tissue_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'culture' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/culture_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/culture_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/culture_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'microbe' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/microbe_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/microbe_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/microbe_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'dna' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/dna_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/dna_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/dna_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'plate' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/plate_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/plate_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/plate_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'well' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/wells_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/wells_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/well_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'isolate' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/isolate_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/isolate_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/isolate_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}
    {% if data_type == 'sample' %}
      <hr>
      <h3>Upload From File: </h3>
      <h5><a href='/lab/download/template/samples_data/'>Download Template</a></h5>
      <h5><a href='/lab/download/template/samples_data_help/'>Download Template Help</a></h5>
      <h5><a href='/lab/upload_online/samples_data/'>Upload Online</a></h5>
      <hr>
      <h3>Or Upload Using Online Form: </h3>
    {% endif %}

    <br/>
    <form class="form-signin" id="log_data_online" method="post" action="/lab/log_data/{{data_type}}/">
      {% csrf_token %}
      <table id="log_data_online_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          {% if data_type == 'seed_inventory' %}
          <tr><th colspan=2>Choose One: Required</th><th colspan=25></th></tr>
              <th>Used</th>
              <th>Collected</th>
              <th>Experiment</th>
              <th>Seed ID</th>
              <th>Seed Name</th>
              <th>Cross Type</th>
              <th>Pedigree</th>
              <th>Stock Status</th>
              <th>Stock Date</th>
              <th>Inoculated</th>
              <th>Stock Comments</th>
              <th>Genus</th>
              <th>Species</th>
              <th>Population</th>
              <th>Source Row ID</th>
              <th>Source Plant ID</th>
              <th>Source Field</th>
              <th>Collected By</th>
              <th>Collection Date</th>
              <th>Collection Method</th>
              <th>Collection Comments</th>
              <th>Source First Name</th>
              <th>Source Last Name</th>
              <th>Source Organization</th>
              <th>Source Phone</th>
              <th>Source Email</th>
              <th>Source Comments</th>
            {% elif data_type == 'seed_packet' %}
              <th>Seed ID</th>
              <th>Weight (g)</th>
              <th>Num Seeds</th>
              <th>Packet Comments</th>
              <th>Locality</th>
              <th>Building Name</th>
              <th>Location Name</th>
              <th>Room</th>
              <th>Shelf</th>
              <th>Column</th>
              <th>Box Name</th>
              <th>Location Comments</th>
            {% elif data_type == 'plant' %}
              <th>Experiment</th>
              <th>Plant ID</th>
              <th>Plant Num</th>
              <th>Source Seed ID</th>
              <th>Source Row ID</th>
              <th>Comments</th>
            {% elif data_type == 'row' %}
              <th>Experiment</th>
              <th>Row ID</th>
              <th>Row Name</th>
              <th>Source Seed ID</th>
              <th>Field</th>
              <th>Range Num</th>
              <th>Plot</th>
              <th>Block</th>
              <th>Rep</th>
              <th>Kernel Num</th>
              <th>Planting Date</th>
              <th>Harvest Date</th>
              <th>Comments</th>
            {% elif data_type == 'environment' %}
              <th>Experiment</th>
              <th>Environment ID</th>
              <th>Field</th>
              <th>Longitude</th>
              <th>Latitude</th>
              <th>Comments</th>
            {% elif data_type == 'samples' %}
              <th>Experiment</th>
              <th>Sample ID</th>
              <th>Sample Type</th>
              <th>Source Seed ID</th>
              <th>Source Row ID</th>
              <th>Source Plant ID</th>
              <th>Source Sample ID</th>
              <th>Weight</th>
              <th>Kernel Num</th>
              <th>Comments</th>
            {% elif data_type == 'measurement' %}
              <th>Observation Unit</th>
              <th>Parameter</th>
              <th>Username</th>
              <th>Time</th>
              <th>Value</th>
              <th>Comments</th>
            {% elif data_type == 'citation' %}
              <th>Citation Type</th>
              <th>Title</th>
              <th>URL</th>
              <th>Pubmed ID</th>
              <th>Comments</th>
            {% elif data_type == 'field' %}
              <th>Locality</th>
              <th>Field Name</th>
              <th>Field Num</th>
              <th>Comments</th>
            {% elif data_type == 'locality' %}
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Zipcode</th>
            {% elif data_type == 'location' %}
              <th>Locality</th>
              <th>Building Name</th>
              <th>Location Name</th>
              <th>Room</th>
              <th>Shelf</th>
              <th>Column</th>
              <th>Box Name</th>
              <th>Comments</th>
            {% elif data_type == 'parameter' %}
              <th>Parameter</th>
              <th>Parameter Type</th>
              <th>Protocol</th>
              <th>Buckler Trait ID</th>
              <th>Unit of Measure</th>
            {% elif data_type == 'medium' %}
              <th>Citation</th>
              <th>Media Name</th>
              <th>Media Type</th>
              <th>Description</th>
              <th>Preparation</th>
              <th>Comments</th>
            {% elif data_type == 'disease' %}
              <th>Common Name</th>
              <th>Abbreviation</th>
              <th>Comments</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {{ log_data_online_form_set.management_form }}
          {% for form in log_data_online_form_set %}
            <tr>
              {% for field in form.visible_fields %}
              <td>{{ field }}<font color="red">{{ field.errors }}</font></td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br/>
      <input class="btn btn-primary" type="submit" name="submit" value="Submit Data"/>
    </form>

  </div>
{% endblock %}
