{% extends "lab/base.html" %}

{% block title %}Log Data{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Log Data</h1>
</div>
<div class="container-fluid">
  <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="container-fluid">
      <div class="span7"><h3>1)&nbsp;&nbsp;&nbsp;Add Seed to Inventory</h3></div>
      <div class="span5">
        <h5><a href='/lab/download/template/seed_inventory'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
  </div><br/>
  <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="container-fluid">
      <div class="span7"><h3>2)&nbsp;&nbsp;&nbsp;Add Row Info</h3></div>
      <div class="span5">
        <h5><a href='/lab/download/template/row_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
  </div><br/>
  <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="container-fluid">
      <div class="span7"><h3>3)&nbsp;&nbsp;&nbsp;Add Plant Info</h3></div>
      <div class="span5">
        <h5><a href='/lab/download/template/plant_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
  </div><br/>
  <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="container-fluid">
      <div class="span7"><h3>4)&nbsp;&nbsp;&nbsp;Add Sample Info</h3></div>
      <div class="span5">
        <h5><a href='/lab/download/template/samples_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
  </div><br/>
  <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="container-fluid">
      <div class="span7"><h3>5)&nbsp;&nbsp;&nbsp;Add Measurement Data</h3></div>
      <div class="span5">
        <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="span7"><h5>--&nbsp;&nbsp;&nbsp;Row and Measurement Data</h5></div>
      <div class="span5">
        <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="span7"><h5>--&nbsp;&nbsp;&nbsp;Plant and Measurement Data</h5></div>
      <div class="span5">
        <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="span7"><h5>--&nbsp;&nbsp;&nbsp;Samples and Measurement Data</h5></div>
      <div class="span5">
        <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
        <h5><a href='/lab/'>Upload Template</a></h5>
      </div>
    </div>
  </div><br/>
</div>


{% endblock %}
