{% extends "lab/base.html" %}

{% block title %}Log Data{% endblock %}

{% block body_block %}
{% load staticfiles %}

<div class="hero-unit">
  <h1>Log Data</h1>
</div>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Seed Info</h3>
              <!--
              <h5><a href='/lab/log_data/seed_inventory'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/seed_inventory'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/seed_inventory'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/seed_inventory/'>Download Template</a></h5>
              <h5><a href='/lab/upload/seed/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/corn_seed.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Inventory Seed Packets</h3>
              <!--
              <h5><a href='/lab/log_data/seed_packet'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/seed_packet'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/seed_packet'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/seed_packet/'>Download Template</a></h5>
              <h5><a href='/lab/upload/seed_packet/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/seed_packet.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Plant Info</h3>
              <!--
              <h5><a href='/lab/log_data/plant'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/plant_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/plant'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/plant_data/'>Download Template</a></h5>
              <h5><a href='/lab/upload/plant_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/corn_plant.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Row Info</h3>
              <!--
              <h5><a href='/lab/log_data/row'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/row_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/row'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/row_data/'>Download Template</a></h5>
              <h5><a href='/lab/upload/row_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/maize_row.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Environment Info</h3>
              <!--
              <h5><a href='/lab/log_data/environment'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/environment_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/environment'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/environment_data/'>Download Template</a></h5>
              <h5><a href='/lab/upload/environment_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/environmental.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Samples Info</h3>
              <!--
              <h5><a href='/lab/log_data/samples'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/samples_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/samples'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/samples_data/'>Download Template</a></h5>
              <h5><a href='/lab/upload/samples_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/sample.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Culture Info</h3>
                <!--
                  <h5><a href='/lab/log_data/environment'>Use Online Interface</a></h5>
                  <h5><a href='/lab/download/template/environment_data'>Download Template</a></h5>
                  <h5><a href='/lab/'>Upload Template</a></h5>
                -->
                <h5><a href=''>Use Online Interface</a></h5>
                <h5><a href=''>Download Template</a></h5>
                <h5><a href='/lab/upload/culture_data/'>Upload To Queue</a></h5>
              </div>
              <div class="span5">
                <img src='{% static '/media/site_images/culture.jpg' %}' />
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="container-fluid">
            <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
              <div class="span7">
                <h3>Add Tissue Info</h3>
                <!--
                <h5><a href='/lab/log_data/samples'>Use Online Interface</a></h5>
                <h5><a href='/lab/download/template/samples_data'>Download Template</a></h5>
                <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href=''>Use Online Interface</a></h5>
              <h5><a href=''>Download Template</a></h5>
              <h5><a href='/lab/upload/tissue_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/tissues.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Plate Info</h3>
                  <!--
                  <h5><a href='/lab/log_data/environment'>Use Online Interface</a></h5>
                  <h5><a href='/lab/download/template/environment_data'>Download Template</a></h5>
                  <h5><a href='/lab/'>Upload Template</a></h5>
                -->
                <h5><a href=''>Use Online Interface</a></h5>
                <h5><a href=''>Download Template</a></h5>
                <h5><a href='/lab/upload/plate_data/'>Upload To Queue</a></h5>
              </div>
              <div class="span5">
                <img src='{% static '/media/site_images/plate.jpg' %}' />
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="container-fluid">
            <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
              <div class="span7">
                <h3>Add Wells Info</h3>
                <!--
                <h5><a href='/lab/log_data/samples'>Use Online Interface</a></h5>
                <h5><a href='/lab/download/template/samples_data'>Download Template</a></h5>
                <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href=''>Use Online Interface</a></h5>
              <h5><a href=''>Download Template</a></h5>
              <h5><a href='/lab/upload/well_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/wells.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add DNA Isolate Info</h3>
                  <!--
                  <h5><a href='/lab/log_data/environment'>Use Online Interface</a></h5>
                  <h5><a href='/lab/download/template/environment_data'>Download Template</a></h5>
                  <h5><a href='/lab/'>Upload Template</a></h5>
                -->
                <h5><a href=''>Use Online Interface</a></h5>
                <h5><a href=''>Download Template</a></h5>
                <h5><a href='/lab/upload/dna_isolate_data/'>Upload To Queue</a></h5>
              </div>
              <div class="span5">
                <img src='{% static '/media/site_images/dna.jpg' %}' />
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="container-fluid">
            <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
              <div class="span7">
                <h3>Add Microbe Info</h3>
                <!--
                <h5><a href='/lab/log_data/samples'>Use Online Interface</a></h5>
                <h5><a href='/lab/download/template/samples_data'>Download Template</a></h5>
                <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href=''>Use Online Interface</a></h5>
              <h5><a href=''>Download Template</a></h5>
              <h5><a href='/lab/upload/microbe_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/microbe.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Measurement Data</h3>
              <!--
              <h5><a href='/lab/log_data/measurement'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
              -->
              <h5><a href='/lab/log_data/measurement'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/measurement_data/'>Download Template</a></h5>
              <h5><a href='/lab/upload/measurement_data/'>Upload To Queue</a></h5>
            </div>
            <div class="span5">
              <img src='{% static '/media/site_images/measurements.jpg' %}' />
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="container-fluid">
          <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
            <div class="span7">
              <h3>Add Genotype Results Data</h3>
              <!--
              <h5><a href='/lab/log_data/measurement'>Use Online Interface</a></h5>
              <h5><a href='/lab/download/template/measurement_data'>Download Template</a></h5>
              <h5><a href='/lab/'>Upload Template</a></h5>
            -->
            <h5><a href=''>Use Online Interface</a></h5>
            <h5><a href=''>Download Template</a></h5>
            <h5><a href='/lab/upload/genotype_results_data/'>Upload To Queue</a></h5>
          </div>
          <div class="span5">
            <img src='{% static '/media/site_images/geno_results.jpg' %}' />
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
