{% if measurement_parameter_list %}
  <form id="select_measurement_parameter_form" method="post" action="/lab/data/measurement/select_measurement_parameter/">
    {% csrf_token %}
    <table id="selected_measurement_parameter" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Select</th>
        <th>Parameter</th>
        <th>Type</th>
        <th>Protocol</th>
        <th>Units</th>
      </tr>
      </thead>
      <tbody>
        {% for row in measurement_parameter_list %}
          <tr>
            <td><input type="checkbox" name="checkbox_measurement_parameter" value="{{ row.measurement_parameter_id }}"></td>
            <td><a href='/lab/measurement_parameter/{{ row.measurement_parameter_id }}/'>{{ row.measurement_parameter__parameter }}</a></td>
            <td>{{ row.measurement_parameter__parameter_type }}</td>
            <td>{{ row.measurement_parameter__protocol }}</td>
            <td>{{ row.measurement_parameter__unit_of_measure }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br/>
    <input class="btn btn-primary" type="submit" name="submit" value="Select Parameters"/>
  </form>

{% endif %}
