
{% extends 'lab/base.html' %}
{% block title %}Mycotoxin Templates{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Mycotoxin Templates</h1>
</div>

<div class="container-fluid">
  <div class="span6">
    <div class="row" style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:25px">
      <h2>Data Templates</h2>
      <hr>
      <h4><a href='/lab/download/template/mycotoxin_maize_separation/'>Record Mycotoxin Data For Maize Samples</a></h4>
      <h4><a href='/lab/download/template/mycotoxin_seed_separation/'>Record Mycotoxin Data For Inventoried Seed</a></h4>
    </div>
  </div>
  <div class="span6">
  </div>
</div>

{% endblock %}
