{% extends 'lab/base.html' %}
{% block title %}Plate Info{% endblock %}
{% block body_block %}

{% if plate_info %}
  <div class="hero-unit">
    <h1>Plate Info: <a href='/lab/plate/{{plate_info.id}}/'>{{plate_info.plate_id}}</a></h1>
  </div>

  <h2>Plate</h2>
  <table id="single_plate_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Plate ID</th>
        <th>Plate Name</th>
        <th>Date</th>
        <th>Contents</th>
        <th>Rep</th>
        <th>Plate Type</th>
        <th>Plate Status</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/lab/plate/{{plate_info.id}}/'>{{ plate_info.plate_id }}</a></td>
        <td>{{ plate_info.plate_name }}</td>
        <td>{{ plate_info.date }}</td>
        <td>{{ plate_info.contents }}</td>
        <td>{{ plate_info.rep }}</td>
        <td>{{ plate_info.plate_type }}</td>
        <td>{{ plate_info.plate_status }}</td>
        <td>{{ plate_info.comments }}</td>
      </tr>
    </tbody>
  </table>

  {% if obs_tracker %}
  <h2>Plate Used For</h2>
  <table class="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Obs Type</th>
        <th>Obs ID</th>
        <th>Experiment</th>
      </tr>
    </thead>
    <tbody>
      {% for t in obs_tracker %}
      <tr>
        <td>{{ t.obs_entity_type }}</td>
        <td><a href='{{ t.obs_id_url }}'>{{ t.obs_id }}</a></td>
        <td><a href='/lab/experiment/{{t.experiment}}/'>{{ t.experiment }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr>
  <h2><small>Not Used In Any Data!</small></h2>
  <hr>
  {% endif %}

{% else %}
  <div class="hero-unit">
    <h1>Plate Info: <a href='/lab/'>Not Found!</a></h1>
  </div>
  <h2>No Plate Info Found!</h2>
{% endif %}

{% endblock %}
