{% extends 'lab/base.html' %}
{% block title %}Row Info{% endblock %}
{% block body_block %}

{% if row_info %}
  <div class="hero-unit">
    <h1>Row Info: <a href='/lab/row/{{row_info.id}}/'>{{row_info.row_id}}</a></h1>
  </div>

  <h3>Row</h3>
  <table id="single_row_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Row ID</th>
        <th>Row Name</th>
        <th>Range</th>
        <th>Plot</th>
        <th>Block</th>
        <th>Rep</th>
        <th>Kernel Num</th>
        <th>Planting Date</th>
        <th>Harvest Date</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/lab/row/{{row_info.id}}/'>{{ row_info.row_id }}</a></td>
        <td>{{ row_info.row_name }}</td>
        <td>{{ row_info.range_num }}</td>
        <td>{{ row_info.plot }}</td>
        <td>{{ row_info.block }}</td>
        <td>{{ row_info.rep }}</td>
        <td>{{ row_info.kernel_num }}</td>
        <td>{{ row_info.planting_date }}</td>
        <td>{{ row_info.harvest_date }}</td>
        <td>{{ row_info.comments }}</td>
      </tr>
    </tbody>
  </table>

  {% for t in obs_tracker %}
    {% if t.obs_entity_type == 'row' %}
      {% include 'lab/tracker_info_table.html' with obs_tracker=obs_tracker %}
    {% endif %}
  {% endfor %}
  <br/>

  {% if obs_source %}
  <hr>
  <h3>Seed Harvested From Row</h3>
  <table class="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Obs Type</th>
        <th>Obs ID</th>
        <th>Experiment</th>
      </tr>
    </thead>
    <tbody>
      {% for t in obs_source %}
      <tr>
        <td>{{ t.target_obs.obs_entity_type }}</td>
        <td><a href='{{ t.target_obs.obs_id_url }}'>{{ t.target_obs.obs_id }}</a></td>
        <td><a href='/lab/experiment/{{t.target_obs.experiment}}/'>{{ t.source_obs.experiment }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr>
  <h2><small>No Seed Collected From Row!</small></h2>
  <hr>
  {% endif %}

  {% if obs_tracker %}
  <hr>
  <h3>Products of Row</h3>
  <table class="table table-striped table-bordered" cellspacing="0" widtd="100%">
    <thead>
      <tr>
        <td>Obs Type</td>
        <td>Obs ID</td>
        <td>Experiment</td>
      </tr>
    </thead>
    <tbody>
      {% for t in obs_tracker %}
        <tr>
          <td>{{ t.obs_entity_type }}</td>
          <td><a href='{{ t.obs_id_url }}'>{{ t.obs_id }}</a></td>
          <td><a href='/lab/experiment/{{t.experiment}}/'>{{ t.experiment }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr>
  <h2><small>Row Produced No Products!</small></h2>
  <hr>
  {% endif %}

  {% if obs_measurements %}
  <hr>
  <h3>Measurements of Row and Row Products</h3>
  <table class="selected_stocks" class="table table-striped table-bordered" cellspacing="0" widtd="100%">
    <thead>
      <tr>
        <td>Obs Type</td>
        <td>Obs ID</td>
        <td>Experiment</td>
        <td>Parameter Type</td>
        <td>Parameter</td>
        <td>Time</td>
        <td>User</td>
        <td>Value</td>
        <td>Units</td>
        <td>Comments</td>
      </tr>
    </thead>
    <tbody>
      {% for t in obs_measurements %}
      <tr>
        <td>{{ t.obs_tracker.obs_entity_type }}</td>
        <td><a href='{{ t.obs_tracker.obs_id_url }}'>{{ t.obs_tracker.obs_id }}</a></td>
        <td><a href='/lab/experiment/{{t.obs_tracker.experiment}}/'>{{ t.obs_tracker.experiment }}</a></td>
        <td>{{ t.measurement_parameter.parameter_type }}</td>
        <td><a href='/lab/measurement_parameter/{{t.measurement_parameter_id}}/'>{{ t.measurement_parameter.parameter }}</a></td>
        <td>{{ t.time_of_measurement }}</td>
        <td><a href='/lab/profile/{{t.user.username}}/'>{{ t.user.username }}</a></td>
        <td>{{ t.value }}</td>
        <td>{{ t.measurement_parameter.unit_of_measure }}</td>
        <td>{{ t.comments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr>
  <h2><small>No Measurements For Row!</small></h2>
  <hr>
  {% endif %}

{% else %}
  <div class="hero-unit">
    <h1>Row Info: <a href='/lab/'>Not Found!</a></h1>
  </div>
  <h2>No Row Info Found!</h2>
{% endif %}

{% endblock %}
