{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Tissue Data{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Tissue Data</h1>
</div>
  <br />

    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Experiments</li>
            <form>
              <label></label>
              <li><input  class="search-query" type="text" name="tissue_experimentsuggestion" id="tissue_experimentsuggestion" placeholder="Type Experiment (e.g. 08PN)"/></li>
            </form>
          </ul>
        </div>
        <div class="span3 offset1">
          <button class="btn btn-info" id="show_all_tissue_experiment" name="show_all_tissue_experiment" type="submit">Show All Experiments</button>
        </div>
        {% if checkbox_tissue_experiment %}
        <div class="span2 offset3">
          <button class="btn btn-warning" id="clear_tissue_experiment" name="clear_tissue_experiment" type="submit">Clear Experiments</button>
        </div>
        {% endif %}
      </div>
      <div id="tissue_experiment">
        {% include 'lab/tissue_experiment_list.html' with tissue_experiment_list=tissue_experiment_list %}
      </div>
      {% if checkbox_tissue_experiment %}
        <hr>
        <h5>Selected Experiments</h5>
        {% for exp in checkbox_tissue_experiment %}
          <li>{{ exp.name }}</li>
        {% endfor %}
      {% endif %}
    </div><br/>

    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <h2>Tissue Data</h2><br/>
        <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Exp</th>
            <th>Tissue ID</th>
            <th>Tissue Type</th>
            <th>Tissue Name</th>
            <th>Date Ground</th>
            <th>Tissue Comments</th>
            <th>Plot ID</th>
            <th>Plant ID</th>
            <th>Plate ID</th>
            <th>Seed ID</th>
          </tr>
          </thead>
          <tbody>
          {% for data in tissue_data %}
          <tr>
            <td><a href='/lab/experiment/{{data.experiment.name}}/'>{{data.experiment.name}}</a></td>
            <td><a href='/lab/tissue/{{data.obs_tissue_id}}/'>{{data.obs_tissue.tissue_id}}</a></td>
            <td>{{data.obs_tissue.tissue_type}}</td>
            <td>{{data.obs_tissue.tissue_name}}</td>
            <td>{{data.obs_tissue.date_ground}}</td>
            <td>{{data.obs_tissue.comments}}</td>
            <td><a href='/lab/plot/{{data.obs_plot.id}}/'>{{data.obs_plot.plot_id}}</a></td>
            <td><a href='/lab/plant/{{data.obs_plant.id}}/'>{{data.obs_plant.plant_id}}</a></td>
            <td><a href='/lab/plate/{{data.obs_plate.id}}/'>{{data.obs_plate.plate_id}}</a></td>
            <td><a href='/lab/stock/{{data.stock.id}}/'>{{data.stock.seed_id}}</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <br/>
      <form action='/lab/download/data/tissue/'>
        <input class="btn btn-primary" type="submit" name="submit" value="Download Data"/>
      </form>
    </div><br/><br/>



{% endblock %}
