{% extends "lab/base.html" %}

{% block title %}Upload Online{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Upload Online</h1>
</div>

<form class="form-signin" id="new_experiment" enctype="multipart/form-data" method="post" action="/lab/upload_online/{{template_type}}/">
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
  <h3>How To Upload Online: </h3>
  <h5>1. Fill in the form below and leave the verified check box UNCHECKED. Click Submit.</h5>
  <h5>2. Open the file that is returned and verify that Errors = 0. Errors can be due to required columns being left blank or dependencies not being met.</h5>
  <h5>3. If Errors = 0, select verified. Click Submit.</h5>
  <hr>
  <h4 class="bg-default">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Contact nm529@cornell.edu if you need assistance.<br/>&nbsp;</h4>
  <hr>
  {% csrf_token %}
  <h3 class="form-signin-heading">Upload New Data: {{template_type}}</h3>
  {% for field in upload_form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
  </div>
</form>

{% if sent %}
  {% if upload_added %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Saved to the Upload Queue, but Not Necessarily Added to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Not Saved to Upload Queue!<br/>&nbsp;</h4>
  {% endif %}
  {% if upload_complete %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Saved to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Not Added to Database!<br/>&nbsp;</h4>
  {% endif %}
{% endif %}


{% endblock %}
