<h2><a href='/lab/download/template/treatment/'>Download Template</a></h2>

<div>
    <ul>
      <li><h3>Quick Guide:</h4></li>

      <ol>
        <li>Download the <a href='/lab/download/template/treatment/'><b>template</b></a></li>
        <li>Fill out the <code>Plot ID</code>s of the plots you'd like to treat and the <code>Treatment ID</code>s of those associated treatments</li>
        <li>Upload that file in the <code>Upload Data</code> section below</li>
        <li>Check the checkbox and hit submit</li>
      </ol>

</div>

