{% extends 'lab/base.html' %}
{# {% load static %} #}
{% block title %}Plot Data{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Plot Data</h1>
</div>
  <br />

<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Select Experiments</li>
        <form>
          <label></label>
          <li><input  class="search-query" type="text" name="plot_experimentsuggestion" id="plot_experimentsuggestion" placeholder="Type Experiment (e.g. 08PN)"/></li>
        </form>
      </ul>
    </div>
    <a href='/lab/log_data/plot/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Plot Data"/></a>
    <div class="span3 offset1">
      <button class="btn btn-info" id="show_all_plot_experiment" name="show_all_plot_experiment" type="submit">Show All Experiments</button>
    </div>
    {% if checkbox_plot_experiment %}
    <div class="span2 offset3">
      <button class="btn btn-warning" id="clear_plot_experiment" name="clear_plot_experiment" type="submit">Clear Experiments</button>
    </div>
    {% endif %}
  </div>
  <div id="plot_experiment">
    {% include 'lab/plot/plot_experiment_list.html' with plot_experiment_list=plot_experiment_list %}
  </div>
  {% if checkbox_plot_experiment %}
    <hr>
    <h5>Selected Experiments</h5>
    {% for exp in checkbox_plot_experiment %}
      <li>{{ exp.name }}</li>
    {% endfor %}
  {% endif %}
</div><br/>

<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
  <h2>Plot Data</h2><br/>
    <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Exp</th>
        <th>Plot ID</th>
        <th>Plot Name</th>
        <th>Field</th>
        <th>Source Stock</th>
        <th>Pedigree</th>
        <th>Row</th>
        <th>Range</th>`
        <th>Plot</th>
        <th>Block</th>
        <th>Rep</th>
        <th>Kernel Num</th>
        <th>Planting Date</th>
        <th>Harvest Date</th>
        <th>Comments</th>
      </tr>
      </thead>
      <tbody>
      {% for data in plot_loader %}
      <tr>
        <td><a href='/lab/experiment/{{data.experiment.name}}/'>{{data.experiment.name}}</a></td>
        <td><a href='/lab/plot/{{data.obs_plot.id}}/'>{{data.obs_plot.plot_id}}</a></td>
        <td>{{data.obs_plot.plot_name}}</td>
        <td><a href='/lab/field/{{data.field.id}}/'>{{data.field.field_name}}</a></td>
        <td><a href='/lab/stock/{{data.stock.id}}/'>{{data.stock.seed_id}}</a></td>
        <td>{{data.stock.pedigree}}</td>
        <td>{{data.obs_plot.row_num}}</td>
        <td>{{data.obs_plot.range_num}}</td>
        <td>{{data.obs_plot.plot}}</td>
        <td>{{data.obs_plot.block}}</td>
        <td>{{data.obs_plot.rep}}</td>
        <td>{{data.obs_plot.kernel_num}}</td>
        <td>{{data.obs_plot.planting_date}}</td>
        <td>{{data.obs_plot.harvest_date}}</td>
        <td>{{data.obs_plot.comments}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <br/>
  <form action='/lab/download/data/plot/'>
    <input class="btn btn-primary" type="submit" name="submit" value="Download Selected Experiment Data"/>
  </form>
  <form action='/lab/download/data/fieldmap/'>
    <input class="btn btn-primary" type="submit" name="submit" value="Download Selected Experiment Maps"/>
  </form>
  <form action='/lab/data/field/'>
    <input class="btn btn-warning" type="submit" name="submit" value="Go to Field Data"/>
  </form>

  {% include "lab/plot/field_download_table.html" %}


</div><br/><br/>


{% endblock %}
