{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Isolate Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Isolate Inventory</h1>
</div>
  <div class="container-fluid">
    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Disease</li>
            <form>
            <label></label>
            <li><input  class="search-query" type="text" name="isolate_diseasesuggestion" id="isolate_diseasesuggestion" placeholder="Type a Common Name"/></li>
            </form>
          </ul>
        </div>
        {% if checkbox_isolate_disease %}
        <div class="span2 offset7">
          <form id="clear_isolate_disease" method="post" action="/lab/isolate_inventory/checkbox_clear/checkbox_isolate_disease/">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Clear Disease</button>
          </form>
        </div>
        {% endif %}
      </div>
      <div id="isolate_disease">
        {% include 'lab/isolate_disease_list.html' with isolate_disease_list=isolate_disease_list %}
      </div>
      {% if checkbox_isolate_disease %}
        <hr>
        <h5>Selected Diseases</h5>
        {% for disease in checkbox_isolate_disease %}
          <li>{{ disease.common_name }}</li>
        {% endfor %}
      {% endif %}
    </div><br/>
    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Taxonomy</li>
            <form>
            <label></label>
            <li><input  class="search-query" type="text" name="isolate_taxonomysuggestion" id="isolate_taxonomysuggestion" placeholder="Type a Genus" /></li>
            </form>
          </ul>
        </div>
        {% if checkbox_isolate_taxonomy %}
        <div class="span2 offset7">
          <form id="clear_isolate_taxonomy" method="post" action="/lab/isolate_inventory/checkbox_clear/checkbox_isolate_taxonomy/">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Clear Taxonomies</button>
          </form>
        </div>
        {% endif %}
      </div>
      <div id="isolate_taxonomies">
        {% include 'lab/isolate_taxonomy_list.html' with isolate_taxonomy_list=isolate_taxonomy_list %}
      </div>
      {% if checkbox_isolate_taxonomy %}
        <hr>
        <h5>Selected Genus</h5>
        {% for genus in checkbox_isolate_taxonomy %}
          <li>{{ genus.genus }}</li>
        {% endfor %}
      {% endif %}
    </div><br/>
  </div>

{% include 'lab/isolate_table.html' %}
{% endblock %}
