{% if isolate_disease_list %}
  {% if checkbox_isolate_taxonomy %}
    <form id="select_disease_form" method="post" action="/lab/isolate_inventory/select_isolate_disease/">
      {% csrf_token %}
      <table id="selected_isolate_disease" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Select</th>
          <th>Common Name</th>
          <th>Genus</th>
        </tr>
        </thead>
        <tbody>
        {% for disease in isolate_disease_list %}
        <tr>
          <td><input type="checkbox" name="checkbox_isolate_disease" value="{{ disease.diseaseinfo.common_name }}"></td>
          <td>{{ disease.disease_info.common_name }}</td>
          <td>{{ disease.passport.taxonomy.genus }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <br/>
      <input class="btn btn-primary" type="submit" name="submit" value="Select Disease"/>
    </form>
  {% else %}
    <form id="select_disease_form" method="post" action="/lab/isolate_inventory/select_isolate_disease/">
      {% csrf_token %}
      <table id="selected_isolate_disease" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Select</th>
          <th>Common Name</th>
        </tr>
        </thead>
        <tbody>
        {% for disease in isolate_disease_list %}
        <tr>
          <td><input type="checkbox" name="checkbox_isolate_disease" value="{{ disease.common_name }}"></td>
          <td>{{ disease.common_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <br/>
      <input class="btn btn-primary" type="submit" name="submit" value="Select Disease"/>
    </form>
  {% endif %}
{% endif %}
