{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Seed Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
	<h1>Seed Inventory</h1>
</div>
	<div class="container-fluid">
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Select Taxonomy</li>
						<form>
						<label></label>
						<li><input  class="search-query" type="text" name="taxonomysuggestion" id="taxonomysuggestion" placeholder="Type a Population"/></li>
						</form>
					</ul>
				</div>
				<div class="span3">
					<button class="btn btn-info" id="show_all_seedinv_taxonomy" name="show_all_seedinv_taxonomy" type="submit">Show All Populations</button>
				</div>
				{% if checkbox_taxonomy %}
				<div class="span2 offset4">
					<form id="clear_taxonomy" method="post" action="/lab/seed_inventory/checkbox_clear/checkbox_taxonomy/">
						{% csrf_token %}
						<button class="btn btn-warning" type="submit">Clear Taxonomies</button>
					</form>
				</div>
				{% endif %}
			</div>
			<div id="taxonomies">
				{% include 'lab/seed_taxonomy_list.html' with taxonomy_list=taxonomy_list %}
			</div>
			{% if checkbox_taxonomy %}
				<hr>
				<h5>Selected Populations</h5>
				{% for tax in checkbox_taxonomy %}
					<li>{{ tax }}</li>
				{% endfor %}
			{% endif %}
		</div><br/>
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Find a Pedigree</li>
						<form>
						<label></label>
						<li><input  class="search-query" type="text" name="pedigreesuggestion" id="pedigreesuggestion" placeholder="Type a Pedigree"/></li>
						</form>
					</ul>
				</div>
				<div class="span3">
					<button class="btn btn-info" id="show_all_seedinv_pedigree" name="show_all_seedinv_pedigree" type="submit">Show All Pedigrees</button>
				</div>
				{% if checkbox_pedigree %}
				<div class="span2 offset4">
					<form id="checkbox_pedigree" method="post" action="/lab/seed_inventory/checkbox_clear/checkbox_pedigree/">
						{% csrf_token %}
						<button class="btn btn-warning" type="submit">Clear Pedigrees</button>
					</form>
				</div>
				{% endif %}
			</div>
			<div id="pedigrees">
				{% include 'lab/seed_pedigree_list.html' with pedigree_list=pedigree_list %}
			</div>
			{% if checkbox_pedigree %}
				<hr>
				<h5>Selected Pedigrees</h5>
				{% for ped in checkbox_pedigree %}
					<li>{{ ped }}</li>
				{% endfor %}
			{% endif %}
		</div><br/>
	</div>

{% include 'lab/stock_table.html' %}
{% endblock %}
