{% extends 'lab/base.html' %}
{% block title %}Stock Info{% endblock %}
{% block body_block %}

{% if stock_info %}
  <div class="hero-unit">
    <h1>Stock Info: <a href='/lab/stock/{{stock_info.id}}/'>{{stock_info.seed_id}}</a></h1>
  </div>

  <h2>Seed Stock</h2>
  <table id="single_stock_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Seed ID</th>
        <th>Seed Name</th>
        <th>Cross Type</th>
        <th>Pedigree</th>
        <th>Status</th>
        <th>Stock Date</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/lab/stock/{{stock_info.id}}/'>{{ stock_info.seed_id }}</a></td>
        <td>{{ stock_info.seed_name }}</td>
        <td>{{ stock_info.cross_type }}</td>
        <td>{{ stock_info.pedigree }}</td>
        <td>{{ stock_info.stock_status }}</td>
        <td>{{ stock_info.stock_date }}</td>
        <td>{{ stock_info.comments }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Collection Info</h2>
  <table id="single_stock_collecting_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ObsID</th>
        <th>Collector</th>
        <th>Field Name</th>
        <th>Collection Date</th>
        <th>Method</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/lab/obs_selector/{{stock_info.passport.collecting.obs_selector_id}}/'>{{ stock_info.passport.collecting.obs_selector_id }}</a></td>
        <td><a href='/lab/profile/{{ stock_info.passport.collecting.user.username }}/'>{{ stock_info.passport.collecting.user.username }}</a></td>
        <td><a href='/lab/field/{{stock_info.passport.collecting.field.id}}/'>{{ stock_info.passport.collecting.field.field_name }}</a></td>
        <td>{{ stock_info.passport.collecting.collection_date }}</td>
        <td>{{ stock_info.passport.collecting.collection_method }}</td>
        <td>{{ stock_info.passport.collecting.comments }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Taxonomy</h2>
  <table id="single_stock_taxonomy_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Genus</th>
        <th>Species</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ stock_info.passport.taxonomy.genus }}</td>
        <td>{{ stock_info.passport.taxonomy.species }}</td>
        <td>{{ stock_info.passport.taxonomy.population }}</td>
      </tr>
    </tbody>
  </table>

{% else %}
  <div class="hero-unit">
    <h1>Stock Info: <a href='/lab/'>Not Found!</a></h1>
  </div>
  <h2>No Stock Info Found!</h2>
{% endif %}

{% endblock %}
