{% if selected_stocks %}
<hr>
<h2>Stock Packets in Inventory</h2><br/>

<form id="select_stocks_form" method="post" action="/lab/seed_inventory/select_stocks/">
  {% csrf_token %}
  <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Select</th>
      <th>Seed ID</th>
      <th>Cross Type</th>
      <th>Pedigree</th>
      <th>Population</th>
      <th>Status</th>
      <th>Weight(g)</th>
    </tr>
    </thead>
    <tbody>
    {% for stockpacket in selected_stocks %}
    <tr>
      <td><input type="checkbox" name="checkbox_stock" value="{{ stockpacket.id }}"></td>
      <td>{{ stockpacket.stock.seed_id }}</td>
      <td>{{ stockpacket.stock.cross_type }}</td>
      <td>{{ stockpacket.stock.pedigree }}</td>
      <td>{{ stockpacket.stock.passport.taxonomy.population }}</td>
      <td>{{ stockpacket.stock.stock_status }}</td>
      <td>{{ stockpacket.weight }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <br/>
  <input class="btn btn-primary" type="submit" name="submit" value="Select Stocks"/>
</form>
{% endif %}
