{% extends 'mine/base.html' %}
{% load static %}
{% block title %}Legacy Seed Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Legacy Seed Inventory<br/><small>Find seed based on genotype and/or what experiment it was from.<br/>Select as many experiments and/or genotypes as you need.</small></h1>
</div>
<br />

<div class="container-fluid">
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="row-fluid">
      <div class="span3">
        <ul class="nav nav-list">
          <h4>Find a Genotype</h4>
          <form>
          <label></label>
          <li><input  class="search-query" type="text" name="legacypedigreesuggestion" id="legacypedigreesuggestion" placeholder="Type a Genotype"/></li>
          <li>Exact Match: <input type="radio" id="query_pedigree_option_exact" name="query_pedigree_option" value="exact" /></li>
          <li>Variable Match: <input type="radio" id="query_pedigree_option_variable" name="query_pedigree_option" value="variable" checked="checked"/></li>
          </form>
        </ul>
      </div>
      {% if checkbox_legacy_pedigree %}
      <div class="span2 offset7">
        <form id="clear_legacy_pedigree" method="post" action="/legacy/legacy_seed_inventory/checkbox_clear/checkbox_legacy_pedigree/">
          {% csrf_token %}
        <button class="btn btn-primary" type="submit">Clear Genotypes</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div id="legacy_pedigrees">
      {% include 'legacy/legacy_pedigree_list.html' with pedigree_list=pedigree_list %}
    </div>
    {% if checkbox_legacy_pedigree %}
      <hr>
      <h5>Selected Genotypes</h5>
      {% for ped in checkbox_legacy_pedigree %}
        <li>{{ ped }}</li>
      {% endfor %}
    {% endif %}
  </div><br/><br/>
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <div class="row-fluid">
      <div class="span3">
        <ul class="nav nav-list">
          <h4>Sort by Experiment</h4>
          <form>
          <label></label>
          <li><input  class="search-query" type="text" name="legacyexperimentsuggestion" id="legacyexperimentsuggestion" placeholder="Type an Experiment"/></li>
          <li>Exact Match: <input type="radio" id="query_experiment_option_exact" name="query_experiment_option" value="exact" /></li>
          <li>Variable Match: <input type="radio" id="query_experiment_option_variable" name="query_experiment_option" value="variable" checked="checked"/></li>
          </form>
        </ul>
      </div>
      {% if checkbox_legacy_experiment %}
      <div class="span2 offset7">
        <form id="clear_legacy_experiment" method="post" action="/legacy/legacy_seed_inventory/checkbox_clear/checkbox_legacy_experiment/">
          {% csrf_token %}
        <button class="btn btn-primary" type="submit">Clear Experiments</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div id="legacy_experiments">
      {% include 'legacy/legacy_experiment_list.html' with experiment_list=experiment_list %}
    </div>
    {% if checkbox_legacy_experiment %}
      <hr>
      <h5>Selected Experiments</h5>
      {% for exp in checkbox_legacy_experiment %}
        <li>{{ exp }}</li>
      {% endfor %}
    {% endif %}
  </div>
</div><br/>

<div id="stock_div">
  {% include 'legacy/legacy_stock_table.html' with selected_stocks=selected_stocks %}
</div>
{% endblock %}
