{% if selected_stocks %}
<hr>

<h2>Stocks in Inventory</h2><br/>
    <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Seed ID</th>
        <th>Seed Name</th>
        <th>Row ID</th>
        <th>Row Name</th>
        <th>Cross Type</th>
        <th>Pedigree</th>
        <th>Person</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      {% for stock in selected_stocks %}
      <tr>
        <td><a href="/legacy/legacy_seed_inventory/row/{{ stock.row_id_origin }}/{{ stock.seed_id }}">{{ stock.seed_id }}</a></td>
        <td>{{ stock.seed_name }}</td>
        <td>{{ stock.row_id_origin }}</td>
        <td>{{ stock.row_name }}</td>
        <td>{{ stock.cross_type }}</td>
        <td>{{ stock.seed_pedigree}}</td>
        <td><a href="/mine/profile/{{ stock.person }}">{{ stock.person}}</a></td>
        <td>{{ stock.notes}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
