{% extends 'mine/base.html' %}
{% block title %}Find a Stock{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Find a Stock</h1><br/>
</div>
{% if selected_stock %}
  <hr>
  <h2>Stock Packets in Inventory</h2><br/>
      <table id="selected_legacy_stock" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Seed ID</th>
          <th>Seed Name</th>
          <th>Weight (g)</th>
          <th>Inventory Date</th>
          <th>Inventory Person</th>
          <th>Location</th>
          <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for packet in selected_stock %}
        <tr>
          <td><a href="/legacy/legacy_seed_inventory/stock/{{ packet.seed_id }}">{{ packet.seed_id }}</a></td>
          <td>{{ packet.seed_name }}</td>
          <td>{{ packet.weight_g }}</td>
          <td>{{ packet.inventory_date }}</td>
          <td>{{ packet.inventory_person }}</td>
          <td>{{ packet.location }}</td>
          <td>{{ packet.notes }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
{% endif %}
{% endblock %}
