{% extends 'mine/base.html' %}
{% load static %}
{% block title %}Seed Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Legacy Seed Inventory</h1><br/>
</div>
  <br />

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Find a Genotype</li>
          <form>
          <label></label>
          <li><input  class="search-query" type="text" name="legacypedigreesuggestion" value="{{ selected_legacy_pedigree }}" id="legacypedigreesuggestion" /></li>
          </form>
        </ul>
      </div>
      {% if selected_legacy_pedigree %}
      <div class="span3">
        <form id="clear_passport" method="post" action="/mine/seed_inventory/clear/selected_passport/">
          {% csrf_token %}
        <button class="btn btn-primary" type="submit">Clear Genotype</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div id="legacy_pedigree">
      {% include 'legacy/pedigree_list.html' with pedigree_list=pedigree_list %}
    </div>
  </div>

{% include 'legacy/stock_table.html' %}
{% endblock %}
