{% extends 'mine/base.html' %}
{% load static %}
{% block title %}Legacy Seed Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Legacy Seed Inventory</h1><br/>
</div>
<br />

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Find a Genotype</li>
        <form>
        <label></label>
        <li><input  class="search-query" type="text" name="legacypedigreesuggestion" value="{{ selected_legacy_pedigree }}" id="legacypedigreesuggestion" /></li>
        <li>Exact Match: <input type="radio" id="query_option_exact" name="query_option" value="exact"  checked="checked" /></li>
        <li>Variable Match: <input type="radio" id="query_option_variable" name="query_option" value="variable" /></li>
        </form>
      </ul>
    </div>
  </div>
</div>

<div id="stock_div">
  {% include 'legacy/stock_table.html' with selected_stocks=selected_stocks %}
</div>
{% endblock %}
