
{% extends 'lab/base.html' %}
{% block title %}Legacy Tissue{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Legacy Tissue</h1>
</div>

<div class="container-fluid">
  <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Tissue ID</th>
        <th>Experiment</th>
        <th>Entity ID</th>
        <th>Entity Name</th>
        <th>Pedigree</th>
        <th>Row Name</th>
        <th>Plant</th>
        <th>Tissue Type</th>
        <th>Plate ID</th>
        <th>Well</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for tissue in legacy_tissue %}
      <tr>
        <td>{{ tissue.tissue_id }}</td>
        <td><a href="/lab/experiment/{{ tissue.experiment_id }}/">{{ tissue.experiment_id }}</a></td>
        <td>{{ tissue.entity_id }}</td>
        <td>{{ tissue.entity_name }}</td>
        <td>{{ tissue.pedigree }}</td>
        <td>{{ tissue.row_name }}</td>
        <td>{{ tissue.plant }}</td>
        <td>{{ tissue.tissue_type }}</td>
        <td>{{ tissue.well }}</td>
        <td>{{ tissue.tissue_plate_id }}</td>
        <td>{{ tissue.comments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
