
{% extends 'lab/base.html' %}
{% block title %}Legacy Genotype{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Legacy Genotype</h1>
</div>

<div class="container-fluid">
  <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Plate ID</th>
        <th>Well ID</th>
        <th>Plate Name</th>
        <th>Well A01</th>
        <th>Well 01A</th>
        <th>Plate Size</th>
        <th>DNA ID</th>
        <th>Sample ID</th>
        <th>Locus Name</th>
        <th>Marker ID</th>
        <th>Marker Name</th>
        <th>Marker Type</th>
        <th>F Primer ID</th>
        <th>R Primer ID</th>
        <th>F2 Primer ID</th>
        <th>R2 Primer ID</th>
        <th>Label Color</th>
        <th>Value 1</th>
        <th>Value 2</th>
        <th>Value 3</th>
        <th>Value 4</th>
        <th>Passive Ref</th>
        <th>Quality</th>
        <th>Call Type</th>
        <th>Call</th>
        <th>Genotype</th>
        <th>BRC Plate Num</th>
        <th>BRC Sample Num</th>
        <th>Genotype File</th>
        <th>Run Date</th>
        <th>Person ID</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for geno in legacy_genotype %}
      <tr>
        <td>{{ geno.genotype_plate_id }}</td>
        <td>{{ geno.genotype_well_id }}</td>
        <td>{{ geno.genotype_plate_name }}</td>
        <td>{{ geno.well_A01 }}</td>
        <td>{{ geno.well_01A }}</td>
        <td>{{ geno.plate_size }}</td>
        <td>{{ geno.dna_id }}</td>
        <td>{{ geno.sample_id }}</td>
        <td>{{ geno.locus_name }}</td>
        <td>{{ geno.marker_id }}</td>
        <td>{{ geno.marker_name }}</td>
        <td>{{ geno.marker_type }}</td>
        <td>{{ geno.f_primer_id }}</td>
        <td>{{ geno.r_primer_id }}</td>
        <td>{{ geno.f2_primer_id }}</td>
        <td>{{ geno.r2_primer_id }}</td>
        <td>{{ geno.label_color }}</td>
        <td>{{ geno.value1 }}</td>
        <td>{{ geno.value2 }}</td>
        <td>{{ geno.value3 }}</td>
        <td>{{ geno.value4 }}</td>
        <td>{{ geno.passive_ref }}</td>
        <td>{{ geno.quality_value }}</td>
        <td>{{ geno.call_type }}</td>
        <td>{{ geno.call_name }}</td>
        <td>{{ geno.genotype }}</td>
        <td>{{ geno.brc_plate_num }}</td>
        <td>{{ geno.brc_sample_num }}</td>
        <td>{{ geno.genotype_file }}</td>
        <td>{{ geno.run_date }}</td>
        <td>{{ geno.genotype_person_id }}</td>
        <td>{{ geno.notes }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
