
{% extends 'lab/base.html' %}
{% block title %}Legacy Seed{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Legacy Seed</h1>
</div>

<div class="container-fluid">
  <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Seed ID</th>
        <th>Plant ID</th>
        <th>Row ID</th>
        <th>Experiment</th>
        <th>Plant Name</th>
        <th>Row Name</th>
        <th>Seed Name</th>
        <th>Cross Type</th>
        <th>Male Parent</th>
        <th>Male Parent Name</th>
        <th>Program Origin</th>
        <th>Pedigree</th>
        <th>Line Num</th>
        <th>Person</th>
        <th>Disease Info</th>
        <th>Notes</th>
        <th>Accession</th>
        <th>Lot</th>
      </tr>
    </thead>
    <tbody>
      {% for seed in legacy_seed %}
      <tr>
        <td>{{ seed.seed_id }}</td>
        <td>{{ seed.plant_id_origin }}</td>
        <td>{{ seed.row_id_origin }}</td>
        <td><a href="/lab/experiment/{{ seed.experiment_id_origin }}/">{{ seed.experiment_id_origin }}</a></td>
        <td>{{ seed.plant_name }}</td>
        <td>{{ seed.row_name }}</td>
        <td>{{ seed.seed_name }}</td>
        <td>{{ seed.cross_type }}</td>
        <td>{{ seed.male_parent_id }}</td>
        <td>{{ seed.male_parent_name }}</td>
        <td>{{ seed.program_origin }}</td>
        <td>{{ seed.seed_pedigree }}</td>
        <td>{{ seed.line_num }}</td>
        <td>{{ seed.seed_person_id }}</td>
        <td>{{ seed.disease_info }}</td>
        <td>{{ seed.notes }}</td>
        <td>{{ seed.accession }}</td>
        <td>{{ seed.lot }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
