{% extends 'lab/base.html' %}
{% block title %}500 Error{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>500 Error!</h1>
</div>

<div style="border-style:solid; border-width:1px; border-color:#888888; padding:15px">
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
    <h3>A logic error occured somewhere in the site's code-base! (Sean wrote too much of the code with his eyes closed). <br> </h3>
    <h3>Email slin63@illinois.edu or smideros@illinois.edu with a brief description of the error and make sure to <em>include the page's URL.</em></h3>
  </div>
</div>

{% endblock %}
