<div>
    <ul>
      <li><h3>Upload Manager useage guide:</h4></li>
      <ul>

        <li><h4>Previewing Deletions</h4></li>
        <ol>
          <li>Select "Preview the upload to be deleted" as well as the appropiate <code>UploadBatch</code></li>
          <li>Enter the correct lab key (contact <code>slin63@illinois.edu</code> if you're not sure where to find it.)</li>
          <li>Hit submit and you should begin downloading a .csv containing all the objects in your selected <code>UploadBatch</code></li>
        </ol>

        <li><h4>Deleting Batches</h4></li>
        <ol>
          <li>Select "Delete the selected upload" as well as the appropiate <code>UploadBatch</code></li>
          <li>Enter the correct lab key</li>
          <li>Give a short explanation for why you're deleting these items</li>
          <li>Check the checkbox and hit submit</li>
        </ol>

      </ul>
    </ul>

</div>
