{% extends "lab/base.html" %}

{% block title %}Packet Generator{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Packet Generation Menu</h1>
</div>

<form class="form-signin" method="post" action="/lab/seed_inventory/generate_packets/"
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">

    {% include "lab/packet_gen/packet_upload_protocol.html" %}

  <hr>
  <h4 class="bg-default">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Contact slin63@illinois.edu if you need assistance.<br/>&nbsp;</h4>
  <hr>
  {% csrf_token %}
  <h3 class="form-signin-heading">Download and create Stock Packet info:</h3>
  <hr>
  {% for field in form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
  </div>
</form>

{% if errors %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;{{ errors }}<br/>&nbsp;</h4>
{% endif %}

{% if success %} 
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;{{ success }}<br/>&nbsp;</h4>
{% endif %}
{% endblock %}
