<div>
    <ul>
      <li><h4>Using the Packet Generator</h4></li>
      <ol>
        <li>Use the <code>Experiment</code> drop-down menu to select the experiment you will be generating packet labels or models for.</li>

        <li>
          Select one of the three provided options:
          <ul>
            <li><i>Generate labels for existing seed packets:</i> Returns a .CSV containing a brief summary of information contained in the select <code>Experiment</code>'s <code>StockPackets</code>.</li>
            <li><i>Preview generated stock packets for next year:</i> Returns a .CSV with a preview of what <code>Experiment</code>'s <code>StockPacket</code> table will look like once the generator script has run. The script will advance generations and pedigrees according to information stored in the <code>Experiment</code>'s <code>ObsPlot</code>s. </li>
            <li><i>Push generated stock packets from preview onto DB:</i> After you've looked over the generator preview, select this object to actually create those <code>StockPacket</code> objects in the database.</li>
          </ul>
        </li>

        <li>Click on the confirmation checkbox and click submit.</li>

      </ol>
    </ul>

</div>
