
{% if locality_list %}

<table id="selected_locality" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ID</th>
    <th>Locality Name</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zipcode</th>
  </tr>
  </thead>
  <tbody>
  {% for locality in locality_list %}
  <tr>
    <td><a href="/lab/seed_inventory/locality/{{ locality.url }}">{{ locality.id }}</td>
    <td>{{ locality.locality_name }}</td>
    <td>{{ locality.city }}</td>
    <td>{{ locality.state }}</td>
    <td>{{ locality.country }}</td>
    <td>{{ locality.zipcode }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/><hr>

{% endif %}
