{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Isolate Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Isolate Inventory</h1>
</div>


<div class="container-fluid">

  <hr>
  <a href='/lab/log_data/isolate/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Isolate Stock"/></a>
  <a href='/lab/log_data/glycerol_stock/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Glycerol Stock"/></a>
  <hr>

  <h2>Filters</h2>

  <div style="border-style:solid; border-width:1px; border-color:#888888; padding:15px">
    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Disease</li>
            <form>
            <label></label>
            <li><input  class="search-query" type="text" name="isolate_diseasesuggestion" id="isolate_diseasesuggestion" placeholder="Type Name (e.g. Ear Rot)"/></li>
            </form>
          </ul>
        </div>
        <div class="span3 offset1">
          <button class="btn btn-info" id="show_all_isolate_disease" name="show_all_isolate_disease" type="submit">Show All Diseases</button>
        </div>
        {% if checkbox_isolate_disease %}
        <div class="span2 offset3">
          <button id="isolate_inventory_clear_disease" class="btn btn-warning" type="submit">Clear Diseases</button>
        </div>
        {% endif %}
      </div>
      <div id="suggested_isolate_disease" class="container-fluid" style="display:none">
        <table id="selected_isolate_disease" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Select</th>
              <th>Common Name</th>
              <th>Genus</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br/>
        <input id="select_isolate_disease_form_submit" class="btn btn-primary" type="submit" name="submit" value="Select Diseases"/>
      </div>
      {% if checkbox_isolate_disease_names %}
        <hr>
        <h5>Selected Diseases</h5>
        {% for disease in checkbox_isolate_disease_names %}
          <li>{{ disease.common_name }}</li>
        {% endfor %}
      {% endif %}
    </div><br/>
    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <div class="row-fluid">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Select Taxonomy</li>
            <form>
            <label></label>
            <li><input  class="search-query" type="text" name="isolate_taxonomysuggestion" id="isolate_taxonomysuggestion" placeholder="Type Genus (e.g. Aspergillus Flavus)" /></li>
            </form>
          </ul>
        </div>
        <div class="span3 offset1">
          <button class="btn btn-info" id="show_all_isolate_taxonomy" name="show_all_isolate_taxonomy" type="submit">Show All Taxonomies</button>
        </div>
        {% if checkbox_isolate_taxonomy %}
        <div class="span2 offset3">
          <button id="isolate_inventory_clear_taxonomy" class="btn btn-warning" type="submit">Clear Taxonomies</button>
        </div>
        {% endif %}
      </div>
      <div id="suggested_isolate_taxonomy" class="container-fluid" style="display:none">
        <table id="selected_isolate_taxonomy" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Select</th>
              <th>Genus</th>
              <th>Species</th>
              <th>Alias</th>
              <th>Race</th>
              <th>Subtaxa</th>
              <th>Disease</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br/>
        <input id="select_isolate_taxonomy_form_submit" class="btn btn-primary" type="submit" name="submit" value="Select Taxonomies"/>
      </div>
      {% if checkbox_isolate_taxonomy_names %}
        <hr>
        <h5>Selected Genus</h5>
        {% for genus in checkbox_isolate_taxonomy_names %}
          <li>{{ genus.genus }}</li>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% include 'lab/isolate_table.html' %}
</div>

{% endblock %}
