{% extends 'lab/base.html' %}
{% block title %}IsolateStock Info{% endblock %}
{% block body_block %}

{% if isolatestock_info %}
  <div class="hero-unit">
    <h1>IsolateStock Info: <a href="{% url 'single_isolatestock_info' isolatestock_info.id %}">{{isolatestock_info.isolatestock_id}}</a></h1>
    <input type="hidden" id="isolatestock_detail_id" value={{isolatestock_info.id}} />
  </div>

  <hr>
  <a href="/lab/isolatestock_inventory/update/{{ isolatestock_info.id }}"><input class="btn btn-info" type="submit" name="submit" value="Update IsolateStock Information"/></a>
  <a href="{% url 'log_data_online' 'isolate' %}"><input class="btn btn-warning" type="submit" name="submit" value="Add new Isolate"/></a>
  <a href="{% url 'isolatestock_inventory' %}"><input class="btn btn-warning" type="submit" name="submit" value="Return to IsolateStock table"/></a>
  <button id="isolatestock_detail_delete_button" class="btn btn-danger" type="submit" name="submit">Delete Isolate Stock</button>
  <hr>


  <h2>IsolateStock</h2>
  <table id="isolatestock_info" class="table table-striped table-bordered" cellspacing="0" widtd="100%">
    <thead>
      <tr>
        <td>IsolateStock ID</td>
        <td>IsolateStock Name</td>
        <td>Locality</td>
        <td>Plant Organ</td>
        <td>Binomial</td>
        <td>Alias</td>
        <td>Race</td>
        <td>Subtaxa</td>
        {# <td>Passport</td> #}
        <td>Comments</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'single_isolatestock_info' isolatestock_info.id %}">{{ isolatestock_info.isolatestock_id }}</a></td>
        <td>{{ isolatestock_info.isolatestock_name }}</td>
        <td><a href="{% url 'single_locality_info' isolatestock_info.locality_id %}">{{ isolatestock_info.locality }}</a></td>
        <td>{{ isolatestock_info.plant_organ }}</td>
        <td>{{ isolatestock_info.passport.taxonomy.binomial }}</td>
        <td>{{ isolatestock_info.passport.taxonomy.alias }}</td>
        <td>{{ isolatestock_info.passport.taxonomy.race }}</td>
        <td>{{ isolatestock_info.passport.taxonomy.subtaxa }}</td>
        {# <td><a href="{% url 'passport' isolatestock_info.passport.id %}">{{ isolatestock_info.passport.id }}</a></td> #}
        <td>{{ isolatestock_info.comments }}</td>
      </tr>
    </tbody>
  </table>

<div class="well well-sm">
  {% if associated_isolates %}
    <h3>Associated Isolates</h3>
      <table id="single_stock_isolatestock_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Isolate ID</th>
            <th>Storage Location</th>
            <th>Collection Date</th>
            <th>Extract Color</th>
            <th>Organism</th>
            <th>Comments</th>
            <th>Submitted By</th>
            <th>Update Link</th>
          </tr>
        </thead>
        <tbody>
          {% for iso in associated_isolates %}
          <tr>
            <!--<td><a href="{% url 'single_isolate_info' iso.id %}">{{ iso.isolate_id }}</a></td>-->
            <td>{{ iso.isolate_id }}</td>
            <td><a href="{% url 'single_location_info' iso.location.id %}">{{ iso.location }}</a></td>
            <td>{{ iso.stock_date }}</td>
            <td>{{ iso.extract_color }}</td>
            <td>{{ iso.organism }}</td>
            <td>{{ iso.comments }}</td>
            <td>{{ iso.user }}</td>
            <td><a href="{% url 'update_isolate_info' iso.id %}">Update {{ iso }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
    <h3><small>No Associated Isolates</small></h3>
  {% endif %}
</div>

<div class="well well-sm">
{% if isolatestock_info.passport.people.id != 1 and isolatestock_info.passport.people.id != 2 and isolatestock_info.passport.people.id != 35 %}
    <h3>Source Info</h3>
    <table id="single_isolatestock_collecting_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Organization</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ isolatestock_info.passport.people.first_name }}</td>
          <td>{{ isolatestock_info.passport.people.last_name }}</td>
          <td>{{ isolatestock_info.passport.people.organization }}</td>
          <td>{{ isolatestock_info.passport.people.phone }}</td>
          <td>{{ isolatestock_info.passport.people.email }}</td>
          <td>{{ isolatestock_info.passport.people.comments }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <h3><small>No Source Info</small></h3>
  {% endif %}
  </div>

<div class="well well-sm">
  {% if isolatestock_info.passport.collecting.collection_date != '' %}
    <h3>Collection Info</h3>
    <table id="single_stock_collecting_info" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
          <th>Collector</th>
          <th>Collection Date</th>
          <th>Method</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href='/lab/profile/{{ isolatestock_info.passport.collecting.user.username }}/'>{{ isolatestock_info.passport.collecting.user }}</a></td>
          <td>{{ isolatestock_info.passport.collecting.collection_date }}</td>
          <td>{{ isolatestock_info.passport.collecting.collection_method }}</td>
          <td>{{ isolatestock_info.passport.collecting.comments }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
  <h3><small>No Collection Info</small></h3>
  {% endif %}
</div>




  {% if obs_tracker %}
<div class="well well-sm">
  <h2>IsolateStock Used For</h2>
  <table class="selected_stocks" class="table table-striped table-bordered" cellspacing="0" widtd="100%">
    <thead>
      <tr>
        <td>Obs Type</td>
        <td>Obs ID</td>
        <td>Experiment</td>
      </tr>
    </thead>
    <tbody>
      {% for t in obs_tracker %}
      <tr>
        <td>{{ t.obs_entity_type }}</td>
        <td><a href='{{ t.obs_id_url }}'>{{ t.obs_id }}</a></td>
        <td><a href='/lab/experiment/{{t.experiment}}/'>{{ t.experiment }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <hr>
  <h2><small>Not Used In Any Data!</small></h2>
  <hr>
</div>
{% endif %}


{% else %}
  <div class="hero-unit">
    <h1>IsolateStock Not Found!</h1>
  </div>
  <h2><a href={% url 'isolatestock_inventory' %}>Click here to return to the IsolateStock table</a></h2>
{% endif %}

{% endblock %}
