<hr>
<h2>IsolateStocks</h2>

<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
<form id="select_stocks_form" method="post" action="/lab/isolatestock_inventory/select_isolatestocks/">
  {% csrf_token %}
  <table id="isolatestock_inventory_datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Select<br/>All <input type="checkbox" onClick="toggle_isolatestocks(this)" /></th>
      <th>IsolateStock ID</th>
      <th>IsolateStock Name</th>
      <th>Plant Organ</th>
      <th>Binomial</th>
      <th>Alias</th>
      <th>Race</th>
      <th>Subtaxa</th>
      <th>Comments</th>
    </tr>
    </thead>
  </table>
  <br/>
  <input class="btn btn-primary" type="submit" name="submit" value="Search Inventory for Selected IsolateStocks"/>
</form>
</div>
