{% extends 'lab/base.html' %}
{% load static %}
{% block title %}Seed Inventory{% endblock %}
{% block body_block %}
<div class="hero-unit">
	<h1>Seed Inventory</h1>
</div>

<div class="container-fluid">

	<hr>
	<a href='/lab/log_data/isolate/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Isolate Stock"/></a>
	<a href='/lab/log_data/glycerol_stock/'><input class="btn btn-warning" type="submit" name="submit" value="Add New Glycerol Stock"/></a>
	<hr>

	<h2>Search</h2>
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px; ">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Search Seed ID</li>
						<form>
							<label></label>
							<li><input  class="search-query" type="text" name="seedidsearch" id="seedidsearch" placeholder="Seed ID (e.g. 09PN0001_001s)"/></li>
						</form>
					</ul>
				</div>
			</div>
			<div id="seed_id_search_results">
				{% include 'lab/seed_id_search_list.html' with seed_id_list=seed_id_list %}
			</div>
		</div>

	<hr>
	<h2>Filters</h2>

		<!--
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">

			<h4>Germplasm Sets</h4>
			<form id="seed_inv_set_01" method="post" action="/lab/seed_inventory/set/282/">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" name="submit" value="282 Association Panel"/>
			</form>
		</div><br/>
	-->
	<div style="border-style:solid; border-width:1px; border-color:#888888; padding:15px">
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Select Taxonomy</li>
						<form>
						<label></label>
						<li><input  class="search-query" type="text" name="taxonomysuggestion" id="taxonomysuggestion" placeholder="Type Population (e.g. NAM)"/></li>
						</form>
					</ul>
				</div>
				<div class="span3 offset1">
					<button class="btn btn-info" id="show_all_seedinv_taxonomy" name="show_all_seedinv_taxonomy" type="submit">Show All Populations</button>
				</div>
				{% if checkbox_taxonomy %}
				<div class="span2 offset3">
					<button id="seed_inventory_clear_taxonomy" class="btn btn-warning" type="submit">Clear Taxonomies</button>
				</div>
				{% endif %}
			</div>
			<div id="suggested_taxonomy" class="container-fluid" style="display:none">
				<table id="selected_taxonomy" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Select</th>
							<th>Species</th>
							<th>Population</th>
							<th>Pedigree</th>
						</tr>
					</thead>
				</table>
				<br/>
				<input id="select_taxonomy_form_submit" class="btn btn-primary" type="submit" name="submit" value="Select Taxonomies"/>
			</div>
			{% if checkbox_taxonomy %}
				<hr>
				<h5>Selected Populations</h5>
				{% for tax in checkbox_taxonomy %}
					<li>{{ tax }}</li>
				{% endfor %}
			{% endif %}
		</div><br/>
		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Find a Pedigree</li>
						<form>
						<label></label>
						<li><input  class="search-query" type="text" name="pedigreesuggestion" id="pedigreesuggestion" placeholder="Type Pedigree (e.g. B73)"/></li>
						</form>
					</ul>
				</div>
				<div class="span3 offset1">
					<button class="btn btn-info" id="show_all_seedinv_pedigree" name="show_all_seedinv_pedigree" type="submit">Show All Pedigrees</button>
				</div>
				{% if checkbox_pedigree %}
				<div class="span2 offset3">
					<button id="seed_inventory_clear_pedigree" class="btn btn-warning" type="submit">Clear Pedigrees</button>
				</div>
				{% endif %}
			</div>
			<div id="suggested_pedigrees" class="container-fluid" style="display:none">
				<table id="selected_pedigree" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Select</th>
							<th>Pedigree</th>
							<th>Population</th>
						</tr>
					</thead>
				</table>
				<br/>
				<button id="select_pedigree_form_submit" class="btn btn-primary" type="submit" name="submit" >Select Pedigrees</button>
			</div>
			{% if checkbox_pedigree %}
				<hr>
				<h5>Selected Pedigrees</h5>
				{% for ped in checkbox_pedigree %}
					<li>{{ ped }}</li>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<br/>

		<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Measured Parameters</li>
						<form>
							<label></label>
							<li><input  class="search-query" type="text" name="seedinvparametersuggestion" id="seedinvparametersuggestion" placeholder="Type Parameter (e.g. plt.hgt)"/></li>
						</form>
					</ul>
				</div>
				<div class="span3 offset1">
					<button class="btn btn-info" id="show_all_seedinv_parameters" name="show_all_seedinv_parameters" type="submit">Show All Measured Parameters</button>
				</div>
				{% if checkbox_seedinv_parameters %}
				<div class="span2 offset3">
					<button id="seed_inventory_clear_parameters" class="btn btn-warning" type="submit">Clear Measured Parameters</button>
				</div>
				{% endif %}
			</div>
			<div id="suggested_seedinv_parameters" class="container-fluid" style="display:none">
				<table id="selected_seedinv_parameters" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Select</th>
							<th>Parameter</th>
							<th>Protocol</th>
							<th>Units</th>
						</tr>
					</thead>
				</table>
				<br/>
				<button id="select_seedinv_parameters_form_submit" class="btn btn-primary" type="submit" name="submit" >Select Parameters</button>
			</div>
			{% if checkbox_seedinv_parameters %}
			<hr>
			<h5>Selected Parameters</h5>
			{% for p in checkbox_seedinv_parameters %}
			<li>{{ p }}</li>
			{% endfor %}
			{% endif %}
		</div>

	{% include 'lab/stock_table.html' %}
</div>
{% endblock %}
