{% extends "lab/base.html" %}

{% block title %}Upload Online{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Upload Online</h1>
</div>

{# <form class="form-signin" id="new_experiment" enctype="multipart/form-data" method="post" action="/lab/upload_online/{{template_type}}/"> #}
<form class="form-signin" id="new_experiment" enctype="multipart/form-data" method="post" action="/lab/field_book/upload/"
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
  <h2>Fieldbook Download-Upload Protocol</h2>
    <ul>
      <li>
        <h4>Measurements</h4>
        <ol>
         <li>Download plot data by <b><a href={% url "experiment" 'search' %}>experiment</a></b> or by <b><a href={% url "browse_field_data" %}>field</a></b>.</li>
         <li>Upload downloaded .csv to handheld by connecting it to your computer, extracting the .csv to <code>fieldBook/imports/</code>, importing field from within the app, and later collect the appropiate data.</li>
         <ul>
           <li>Select <code>Plot ID</code> as the <code>Unique Identifier</code></li>
           <li>Set the <code>Range</code> as the <code>Primary Order</code> and <code>Row</code> as the <code>Secondry Order</code></li>
         </ul>
         <li>Output data from Field-Book by going to the app's <code>settings > export > database; All imported columns; All traits</code> (This is subject to change later).</li>
         <li>Using the forms below, enter the username of the data collector (create an account for them if they don't have one), select the <b>measurements</b> model, and attach the Field-Book extracted .csv in <code>fieldBook/exports/</code>. </li>
         <li>Leave verified unchecked for a preview of your upload, and check it to actually upload information to the website.</li>
        </ol>
      </li>
    </ul>

  <hr>
  <h4 class="bg-default">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Contact slin63@illinois.edu if you need assistance.<br/>&nbsp;</h4>
  <hr>
  {% csrf_token %}
  <h3 class="form-signin-heading">Upload Data from Field Book:</h3>
  {% for field in upload_form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
  </div>
</form>

{% if sent %}
  {% if upload_added %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Saved to the Upload Queue, but Not Necessarily Added to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Not Saved to Upload Queue!<br/>&nbsp;</h4>
  {% endif %}
  {% if upload_complete %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Saved to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Not Added to Database!<br/>&nbsp;</h4>
  {% endif %}
{% endif %}


{% endblock %}
