{% extends "lab/base.html" %}

{% block title %}Field Book Upload{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Field Book Upload</h1>
</div>

<form class="form-signin" id="new_experiment" enctype="multipart/form-data" method="post" action="/lab/field_book/upload/"
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">

    {% include "lab/fieldbook/field_book_protocol.html" %}

  <hr>
  <h4 class="bg-default">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Contact slin63@illinois.edu if you need assistance.<br/>&nbsp;</h4>
  <hr>
  {% csrf_token %}
  <h3 class="form-signin-heading">Upload Data from Field Book:</h3>
  {% for field in upload_form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
  </div>
</form>

{% if sent %}
  {% if upload_added %}
    <h4>&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Saved to the Upload Queue, but Not Necessarily Added to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Upload Was Not Saved to Upload Queue!<br/>&nbsp;</h4>
  {% endif %}
  {% if upload_complete %}
    <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Saved to Database!<br/>&nbsp;</h4>
  {% else %}
    <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Upload Not Completely Added to Database!<br/>&nbsp;</h4>
  {% endif %}
{% endif %}


{% endblock %}
