{% extends "lab/base.html" %}

{% block title %}New Treatment{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>New Treatment</h1>
</div>
<form class="form-signin" id="new_experiment" method="post" action="/lab/new_treatment/">
  <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
  {% csrf_token %}
  <h3 class="form-signin-heading">Add a New Treatment</h3>
  {% for field in new_treatment_form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Submit New Treatment" />
  </div>
</form>

{% if treatment_added %}
  <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Treatment Was Saved!<br/>&nbsp;</h4><br/>
{% endif %}

<h2>Existing Treatments:</h2>
<br>
<div style="-webkit-box-shadow:2px 2px 3px 3px #888888; -moz-box-shadow:2px 2px 3px 3px #888888; box-shadow:2px 2px 3px 3px #888888; padding:15px">
      <br/><br/>
        <table id="selected_stocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Experiment Name</th>
            <th>Treatment ID</th>
            <th>Treatment Type</th>
            <th>Treatment Date</th>
            <th>Comments</th>
          </tr>
          </thead>
          <tbody>
          {% for data in treatment_data %}
          <tr>
            <td><a href="{% url 'experiment' data.experiment %}">{{ data.experiment }}</a></td>
            <td>{{ data.treatment_id }}</td>
            <td>{{ data.treatment_type }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.comments }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>



    </div><br/><br/>
  </div>


{% endblock %}
