
<style>
    th, td {
        padding: 5px;
    }
    th {
    text-align: left;
    }
</style>
<h3>Template Guide: </h3>
 <table style="width:50%">
  <tr>
    <th>Upload Field</th>
    <th>Corresponding model</th>
    <th>Required</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Experiment</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Observation Unit</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Treatment ID</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Treatment Type</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Treatment Date</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Comments</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
