<!DOCTYPE html>

{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
		<link href="{% static 'css/additional.css' %}" rel="stylesheet">
		<title>{% block title %}Nelson Lab{% endblock %}</title>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		   <div class="navbar-inner">
			   <div class="container">
				   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
				   </button>
				   <a class="brand" href="/mine/">Nelson Lab</a>

				   <div class="nav-collapse collapse">
					   <ul class="nav pull-right">
						   {% if logged_in_user %}
							<li class="navbar-text">Welcome {{logged_in_user}}!</li>
							<li><a href="/mine/logout/">Logout</a></li>
							<li><a href="/mine/profile/{{logged_in_user}}/">Profile</a></li>
						   {% else %}
							<li><a href="/mine/register/">Register</a></li>
							<li><a href="/mine/login/">Login</a></li>
						   {% endif %}
					   </ul>
					   <ul class="nav">
						   {% if user.is_authenticated %}
						   {% endif %}
					   </ul>
				   </div>
				   <!--/.nav-collapse -->
			   </div>
		   </div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header"><h4>About</h4></li>
								<li class="nav-list"><a href='http://www.plantpath.cornell.edu/labs/nelson_r/index.html'>Lab Page</a></li>
								<li class="nav-list"><a href='/mine/about/goals/'>Goals</a></li>
								<li class="nav-list"><a href='/mine/about/people/'>People</a></li>
								<li class="nav-list"><a href='/mine/about/collaborators/'>Collaborators</a></li>
								<li class="nav-list"><a href='/mine/about/literature/'>Literature</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Germplasm</h4></li>
								<li class="nav-list"><a href='/legacy/legacy_seed_inventory/'>Current Data-Structure</a></li>
								<li class="nav-list"><a href='/mine/seed_inventory/'>New Data-Structure</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Experimental Data</h4></li>
								<li class="nav-list"><a href='/mine/experiment/search/'>Find an Experiment</a></li>
								<li class="nav-list"><a href=''>Browse Analyses</a></li>
								<li class="nav-list"><a href=''>Phenotypic Data</a></li>
								<li class="nav-list"><a href=''>Genotypic Data</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list">
								<li class="nav-header"><h4>Resources</h4></li>
								<li class="nav-list"><a href=''>Publications</a></li>
								<li class="nav-list"><a href=''>Links</a></li>
								<li class="nav-list"><a href=''>Downloads</a></li>
								<li class="nav-list"><a href=''>Site Map</a></li>
							</ul>
					</div>
				</div>
				<!--/span-->
				<div class="span9">
					{% block body_block %}
					{% endblock %}
				</div>
				<!--/span-->
			</div>
			<!--/row-->
		</div>
		<!--/.fluid-container-->

		<hr>
		<footer>
			<div class="container">
				<p>&copy; Nelson Lab 2014</p>
			</div>
		</footer>
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/rango-ajax.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	</body>
</html>
