{% extends "mine/base.html" %}

{% block title %}Profile: {{ user.username }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Profile<h1>
  <h2>{{ user.username }}</h2>
</div>
<form class="form-signin" id="edit_profile" method="post" action="/mine/edit_profile/" enctype="multipart/form-data">
    <div style="-webkit-box-shadow:2px 2px 3px 3px #888888; padding:15px">
    {% csrf_token %}
    <h2 class="form-signin-heading">Edit Your Profile</h2><br/>
    {% if wrong_password %}
      <h4 class="bg-danger">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Wrong password!<br/>&nbsp;</h4><br/>
    {% endif %}
    {% if edit_complete %}
      <h4 class="bg-success">&nbsp;<br/>&nbsp;&nbsp;&nbsp;Your Edit Was Saved!<br/>&nbsp;</h4><br/>
    {% endif %}
    {% for field in user_form.visible_fields %}
      <div class="row">
        <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
        <div class="span3">{{ field }}</div>
        <div class="span4"><font color="red">{{ field.errors }}</font></div>
      </div>
    {% endfor %}
    {% for field in profile_form.visible_fields %}
      <div class="row">
        <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
        <div class="span3">{{ field }}</div>
        <div class="span4"><font color="red">{{ field.errors }}</font></div>
      </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" name="submit" value="Submit Changes"/>
  </div>
</form>
{% endblock %}
