{% extends "mine/base.html" %}

{% block title %}Profile: {{ user.username }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
  <h1>Profile</h1>
  <h2>{{ user.username }}</h2>
</div>

<form class="form-signin span12" id="change_password" method="post" action="/mine/change_password/">
  {% csrf_token %}
  <h3 class="form-signin-heading">Change Your Password</h3>
  {% for field in change_password_form.visible_fields %}
    <div class="row">
      <div class="span4 offset1"><font color="247eca">{{ field.help_text }}</font></div>
      <div class="span3">{{ field }}</div>
      <div class="span4"><font color="red">{{ field.errors }}</font></div>
    </div>
  {% endfor %}
  <input class="btn btn-primary" type="submit" name="submit" value="Change Password" />
</form>
{% if wrong_password %}
  <h4 class="bg-danger"><br/>&nbsp;&nbsp;&nbsp;Wrong password!<br/>&nbsp;</h4>
{% endif %}
{% if wrong_repeat %}
  <h4 class="bg-danger"><br/>&nbsp;&nbsp;&nbsp;Make sure repeated password is identical!<br/>&nbsp;</h4>
{% endif %}

{% endblock %}
