{% if sources_list %}
<table id="selected_source" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ID</th>
    <th>LocalityID</th>
    <th>Field Name</th>
    <th>Field Number</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Altitude</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  {% for source in sources_list %}
  <tr>
    <td><a href="/mine/seed_inventory/field/{{ field.url }}">{{ field.id }}</td>
    <td>{{ source.locality }}</td>
    <td>{{ source.field_name }}</td>
    <td>{{ source.field_number }}</td>
    <td>{{ source.latitude }}</td>
    <td>{{ source.longitude }}</td>
    <td>{{ source.altitude}}</td>
    <td>{{ source.field_comments}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
