{% extends 'mine/base.html' %}
{% block title %}Find a Stock{% endblock %}
{% block body_block %}
<div class="hero-unit">
  <h1>Find a Stock</h1><br/>
</div>
{% if selected_packets %}
  <hr>
  <h2>Stock Packets in Inventory</h2><br/>
      <table id="selected_packets" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>ID</th>
          <th>StockID</th>
          <th>Weight (g)</th>
          <th>Number of Seeds</th>
          <th>Comments</th>
          <th>Storage Building</th>
          <th>Room</th>
          <th>Section</th>
          <th>Column</th>
          <th>Shelf</th>
          <th>Box Name</th>
        </tr>
        </thead>
        <tbody>
        {% for packet in selected_packets %}
        <tr>
          <td><a href="/mine/seed_inventory/stock/{{ packet.id }}">{{ packet.id }}</a></td>
          <td>{{ packet.stock.id }}</td>
          <td>{{ packet.weight }}</td>
          <td>{{ packet.number_of_seeds }}</td>
          <td>{{ packet.stock_packet_comments }}</td>
          <td>{{ packet.location.building_name }}</td>
          <td>{{ packet.location.room }}</td>
          <td>{{ packet.location.section }}</td>
          <td>{{ packet.location.column }}</td>
          <td>{{ packet.location.shelf }}</td>
          <td>{{ packet.location.box_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
{% endif %}
{% endblock %}
